
<!--Temp menu -->

<app-app-header style="font-size: 14px;"></app-app-header>


<!-- Watermark and title  -->
<section style="padding-bottom: 0px; padding-top: 30px;">
    <div class="row">
        <div class="col-md-1">
            <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
        </div>
        <div class="col-md-11">
            <div class="section-title">
                <h2 style="position: relative;
                right: 55px;">Global Partners</h2>
                <h6 class="title">Big brands, small bussiness, new startuo and inividuals</h6>
                <div class="section-borders" style="position: relative;
                right: 55px;">
                    <span></span>
                    <span class="black-border"></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Partners (BANK LOGOS) -->

<section id="clients" class="section-bg">
    <div class="container">
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank1.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank2.png" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank3.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank4.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank5.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank6.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank7.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank8.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank9.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank10.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank11.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="assets/images/landingpage/partners/bank12.jpg" class="img-fluid"
                        alt=""> </div>
            </div>
        </div>
    </div>
</section>

<!-- Partners Reviews title -->

<div class="col-md-11" style="position: relative;">
    <div class="payrowaboutUs">
        <h6 class="abtUs">Reviews
            <hr class="abtusHr" />
        </h6>
        <h4 class="title2">What our Partners are saying</h4>
    </div>
</div>


<!-- Payrow partners review -->
<div class="section-padding">
    <div class="container">
        <app-partners-review></app-partners-review>
    </div>
</div>
<!-- END OF Payrow partners review -->


<!-- Clients -->

<!-- Watermark and title  -->
<section style="padding-bottom: 0px; padding-top: 100px;">
    <div class="row">
        <div class="col-md-1">
            <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
        </div>
        <div class="col-md-11">
            <div class="section-title">
                <h2 style="position: relative;
                right: 55px;">Our Clients</h2>
                <h6 class="title">Who uses PayRow</h6>
                <div class="section-borders" style="position: relative;
                right: 55px;">
                    <span></span>
                    <span class="black-border"></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>

<app-clients style="padding-bottom: 100px;"></app-clients>

<!-- <app-client-review></app-client-review> -->

<!--footer -->
<app-app-footer></app-app-footer>



