/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #72AC47;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

#msform select{
    //padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%;
    box-sizing: border-box;
    
    color: #2C3E50;
    font-size: 13px;
    margin-left: 9px;
}
#msform select:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #72AC47;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
.edit_btn {
    width: 80px;
    background: #72ac47;
    border: none;
    float: left;
    margin-top: 10px;
    margin-left: 18% !important;
}
// .branchAcnt{
//     margin: 5px 0px;
// }
.storeTable{
    margin: 8px;
    width: 97%;
}
.acntLabel{
    text-align: left;
    margin-top: 3px;
}
.add_btn{
    width: 80px;
    background: #72ac47;
    border: none;
    color: white;
}
.line{
    margin-top: -22px;
    margin-left: 54px;
    width: 85px;
    color: #72AC47;
}
.error-msg{
    margin-bottom: 0px;
    float: left;
    color: red;
    font-family: auto;
    margin-top: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.alert{
    padding: 0;
}

.form-control{
    font-size: 14px;
}

label{
    font-weight: 400 !important;
    font-size: 15px;
    float: left;
}

