
// SECOND

.feature_section {
  margin: 50px;
  position: relative;
}

.futureTitle {
  color: #5c5b59;
  font-weight: 700;
  margin: 5% 5% 5% 0%;
}

h5 {
  align-self: center;
  margin: auto;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 40px;
}
.card {
  display: flex;
  width: 16rem;
  height: 12rem;
  position: relative;
  background-color: #5b5a5a;
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 25%);
  border-radius: 10px;
  align-self: center;
  overflow: hidden;
  margin: auto;
  border: none;
  margin-bottom: 30px;
}

.card1::after {
  padding: 35px;
  content: "RAM:8MB FLASH:16MB";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card1:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card2::after {
  padding: 35px;
  content: "118mm*105mm* 62mm";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card2:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card3::after {
  padding: 35px;
  content: "Bluetooth 4.2 +2.1";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card3:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card4::after {
  padding: 35px;
  content: "Direct Thermal Mobile";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card4:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card5::after {
  padding: 35px;
  content: "450g 450g";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card5:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card6::after {
  padding: 35px;
  content: "50mm 50mm";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card6:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card7::after {
  padding: 35px;
  content: "Li-Ion 7.4V 2500mAh";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card7:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.card8::after {
  padding: 35px;
  content: "-20~60℃ (-4~140℉)";
  font-size: 20px;
  writing-mode: horizontal-rl;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  transform: translateX(90%);
  transition: ease 0.7s;
  position: absolute;
  border-radius: 0px 0px 10px;
  background-color: #71aa46;
}
.card8:hover::after {
  transform: translateX(0%);
  border-radius: 10px;
}

.arowMark {
  font-size: 50px;
  color: #fff;
  align-self: center;
  margin: auto;
  margin-top: 0px;
  position: relative;
  bottom: 10px;
}

.rightArrow {
  font-size: 25px;
  color: #fff;
  align-self: center;
  margin: auto;
  margin-top: 0px;
  position: relative;
  bottom: 5px;
  border: 1px solid #71aa46;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.icon {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0px;
}

.colored {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/memory.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/memory.svg)
    no-repeat center / contain;
}

.dimension {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/dimension.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/dimension.svg)
    no-repeat center / contain;
}

.bluetooth {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/bluetooth.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/bluetooth.svg)
    no-repeat center / contain;
}

.printer {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/printer.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/printer.svg)
    no-repeat center / contain;
}

.weight {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/weight.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/weight.svg)
    no-repeat center / contain;
}

.roll {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/roll.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/roll.svg)
    no-repeat center / contain;
}

.power {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/power.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/power.svg)
    no-repeat center / contain;
}

.temperature {
  background-color: #fff; /* defines the background color of the image */
  mask: url(../../../../../assets/images/landingpage/specifications/temperature.svg)
    no-repeat center / contain;
  -webkit-mask: url(../../../../../assets/images/landingpage/specifications/temperature.svg)
    no-repeat center / contain;
}
