<div class="content-wrapper main-section-container">
    <app-finance-menus></app-finance-menus>

    <section class="content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="card p-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-3 sidemenu-form">
                                    <!-- <h6 class="text-center" id="search_label">PayRow ID</h6> -->

                                    <div class="input-group">
                                        <div style="float: left;" class="pr-2">End of Service : </div>
                                        <input type="text" class="form-control" placeholder="Sponser ID"
                                            aria-describedby="basic-addon2" value="232111">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2"><i
                                                    class="fas fa-arrow-right fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    Name : Aravind Kishore
                                </div>
                                <div class="col">
                                    Joining Date : 12-04-2021
                                </div>
                                <div class="col">
                                    Designation : Software Engineer
                                </div>
                                <div class="col">
                                    Last working day : 16-10-2021
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card card-tabs con-tabs p-0">
                        <div class="card-header p-0 pt-1">
                            <!-- // WPS : User ID, User name, basic salary, house allowance, 
            // transport, joining date, account number, month - drop down, action - radio button. -->
                            <div class="card-body p-0">
                                <div class="tab-content" id="custom-tabs-one-tabContent">

                                    <div class="tab-pane fade active show" id="custom-tabs-month-four" role="tabpanel"
                                        aria-labelledby="custom-tabs-month-four-tab">
                                        <div class="chart-content-holder">

                                            <div class="row">
                                                <div class="col-12 pl-0 pr-0">
                                                    <div class="data-table-container">
                                                        <table id="finance_wps_table"
                                                            class="table text-center data-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Staff ID</th>
                                                                    <th>Staff Name</th>
                                                                    <th>Basic Salary</th>
                                                                    <th>House Allowance</th>
                                                                    <th>Transport</th>
                                                                    <th>Bonus</th>
                                                                    <th>Joining Date</th>
                                                                    <th>Account Number</th>
                                                                    <th>Month</th>
                                                                    <th>Select</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>