<div class="content-wrapper main-section-container">
  <app-finance-menus></app-finance-menus>
  <section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 pl-0">


          <div class="default-finance-accordion" id="accordion">

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseOne">
                    Revenue
                  </a>
                </h4>
              </div>

              <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="container">
                    <form>
                      <div class="row">
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Subscribers</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Dom-Int Users</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Revenue</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Regular</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">MDR - Regular</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">MDR - Gov</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">MDR - Hotel</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Domestic Bank</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">International Bank</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="col-1 btn-section" id="add_employee_form">
                          <div class="btn-area">
                            <button type="button" class="btn btn-submit" id="btn_submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseTwo">
                    Software/Technical Cost
                  </a>
                </h4>
              </div>

              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="container">
                    <form>
                      <div class="row">
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">App Programmer - Android</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">App Programmer - IOS</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Web Developer</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">KYC Developer</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Business Analyst</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Data Specialist</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">UI & UX Designer/Tester</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Data Centre Infrastructure</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Switch Developer Cost</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Visa Acquiring License Cost</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Switch Enhancment</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">VAT Report Charges</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Switch Onetime Charge</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Cyber Source OT Charge</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Switch Refiller Cost</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="col-1 btn-section" id="add_employee_form">
                          <div class="btn-area">
                            <button type="button" class="btn btn-submit" id="btn_submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseThree">
                    Sales & Marketing Cost
                  </a>
                </h4>
              </div>

              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="container">
                    <form>
                      <div class="row">
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Regional Sales Head</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Sales Executives Cost</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Distributor Acq Cost</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Marketing Exp</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                        </div>
                        <div class="col-1 btn-section" id="add_employee_form">
                          <div class="btn-area">
                            <button type="button" class="btn btn-submit" id="btn_submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseFour">
                    Management & Support Cost
                  </a>
                </h4>
              </div>

              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="container">
                    <form>
                      <div class="row">
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">CEO</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Account</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                        </div>
                        <div class="col-1 btn-section" id="add_employee_form">
                          <div class="btn-area">
                            <button type="button" class="btn btn-submit" id="btn_submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseFive">
                    Operation Cost
                  </a>
                </h4>
              </div>

              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="container">
                    <form>
                      <div class="row">
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">OTP Registration Cost</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Messaging Platform Cost</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Ducont Managing Cost</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Call Centre Cost</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                        </div>
                        <div class="col-1 btn-section" id="add_employee_form">
                          <div class="btn-area float-right">
                            <button type="button" class="btn btn-submit" id="btn_submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseSix">
                    Admin & Other Costs
                  </a>
                </h4>
              </div>

              <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="container">
                    <form>
                      <div class="row">
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Rent incl DEWA</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Mobile & Data</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">Vechile Cost</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-4">
                            <label for="inputEmployeeName">Fuel Cost</label>
                            <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputJobTitle">Bonus</label>
                            <input type="text" id="inputJobTitle" name="job_title" class="form-control"
                              autocomplete="off" />
                          </div>
                          <div class="col-4">
                            <label for="inputSalary">General Expenses</label>
                            <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                        <div class="col-1 btn-section" id="add_employee_form">
                          <div class="btn-area">
                            <button type="button" class="btn btn-submit" id="btn_submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>