.edit_btn {
    width: 100px;
    background: #72ac47;
    border: none;
    // float: left;
    // margin-bottom: 10px;
    margin-left: 10px !important;
}
.thead,
tbody,
tfoot,
tr,
td,
th {
    font-size: 12px !important;
}
.edit_btn {
    width: 100px;
    background: #72ac47;
    border: none;
    // float: left;
    // margin-bottom: 10px;
    margin-left: 10px !important;
}
.table_data {
    margin-top: 10px;
}
.table-container{
    margin-top: 10px;
}
.container-fluid{
    margin-top: 10px;
}