@import url("https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css");

.table_main{
    font-size: 14px;
}
.table-container {
    line-height: 2;
}
.btn-secondary{
    font-size: 14px;
}
.modal-dialog{
    max-width: 40%;
  }
  .modal-body{
    padding: 2rem;
  }
// .table {
//     font-size: 13px;
// }
.edit_btn {
    width: 80px;
    background: #72ac47;
    border: none;
    margin-right: 20px;
    // float: left;
    // margin-left: 18% !important;
}
.form-control {
    font-size: 14px;
}
.container-fluid {
    // width: 100%;
    padding: 0px 12px;
  }
label {
    margin: 0;
    margin-right: 0.5rem;
    width: 60%;
  }
#form{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px;
}
.card_items{
    padding: 20px;
    box-shadow: 0px 1px 7px -5px grey;
    line-height: 3;
    border: none;
}

.downImg{
    width: 20px;
    text-align: center;
    align-items: center;
    position: relative;
    left: 20%;
}

body{margin-top:20px;}
.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 14px;
    text-align: center
}
.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 33px;
    text-align: center
}
.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 2px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}
.steps .step .step-icon-wrap::before {
    left: 0
}
.steps .step .step-icon-wrap::after {
    right: 0
}
.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}
.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}
.steps .step:first-child .step-icon-wrap::before {
    display: none
}
.steps .step:last-child .step-icon-wrap::after {
    display: none
}
.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #72AC47
}
.steps .step.completed .step-icon {
    border-color: #72AC47;
    background-color: #72AC47;
    color: #fff
}
@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}
@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}
@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}
@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}
.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}

.stepIcn{
    font-size: 20px;
    position: relative;
    bottom: 27px;
}

.back_btn {
    background-color: #72ac47;
    color: white;
    width: 99px;
    font-size: 12px;
}

.card_cnt{
    box-shadow: 0px 1px 7px -5px grey;
    border: none;
}

.trackerTitle{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.p-4{
    padding: 15px !important;
    border-bottom: 1px solid lightgray;
}

.pendingStatus{
    font-size: 15px;
    position: relative;
    top: 6px;
}


// FORMS

.userTablist{
    font-size: 13px;
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px !important;
}

.userit.active{
    color: #fff;
    background-color: #6E759F;
}

.userit:not(.active):hover{
    color: #6E759F;
}


.dateForm{
    width: 50%;
}

.mainDiv{
    // margin: 75px;
    border: 1px solid gray;
    /* height: 700px; */
    padding: 70px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.refInput{
    width: 40%;
    position: relative;
    bottom: 17px;
    top: -10px;
    height: 35px;
    right: 0px;
    border-radius: 0px;
    background-color: #f1f1f1;
}

.dateInput{
    position: relative;
    bottom: 17px;
    background-color: #f1f1f1;
    border-radius: 0px; 
}

.to{
    position: relative;
    left: 15px;
}

/* NBQ FORM */
.nbqCard{
    text-align: center;
    background-color: #0070C0;
    border: none;
    padding: 5px;
    border-radius: 0px;
}

h5{
    font-size: 17px;
    color: #fff;
}

.nbqInput{
    position: relative;
    background-color: #f1f1f1;
    border-radius: 0px;
}

.newRight{
    text-align: right;
}

.nbqImage{
    width: 15%;
    position: relative;
    left: 60px;
}

.mainDiv2{
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

/* NI FORM */

.arabic{
    text-align: right;
}

.backForm{
    // float: right;
    // position: relative;
    bottom: 53px;
    right: 15px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.selItem{
    margin-top: 20px;
    // width: 40%;
}
input.search-hero {
    // width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #2c3e50;
    font-size: 13px;
    background-color: #fcfcfd;
    position: relative;
    bottom: 5px;
    width: 35%;
    float: right;
  }
  
  input.search-hero:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #72ac47;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
  }



