.status_auditor {
    // border: none;
    padding: 4px;
    -webkit-appearance: menulist
  }
  .form-control{
    -webkit-appearance: menulist
  }
  .status{
    padding: 4px;

  }
  .bi{
    font-size: 20px;
    color: #504f4f;
}
.icn_btn{
    border: none;
    background:none;
}