<div class="prodcut-section" style="margin-top:75px;">

	<div class="container">
		<div class="head-wrapper">
			<!-- <h1>L2s <br>Tech Specs</h1> -->
		</div>
		<div class="bg-image">
			<div class="product-wrapper">
				<div class="view-btn">
					<a href="#">See More</a>
				</div>
				<div class="product-box empty-box">

				</div>

				<div class="product-box first-box">
					<a href="#"><label>4G + NFC</label></a>
					<div class="image-wrapper">
						<img src="assets/images/landingpage/sunmi_nfc.jpg" alt="">
					</div>
				</div>

				<div class="product-box empty-box">

				</div>

				<div class="product-box second-box">
					<a href="#"><label>Battery<br>5000mAh</label></a>
					<div class="image-wrapper">
						<img src="assets/images/landingpage/sunmi_battery.jpg" alt="">
					</div>
				</div>

				<div class="product-box image-show">

				</div>

				<div class="product-box third-box">
					<a href="#"><label>Octa-core Processor</label></a>
					<div class="image-wrapper">
						<img src="assets/images/landingpage/sunmi_processor.jpg" alt="">
					</div>
				</div>

				<div class="product-box empty-box">

				</div>

				<div class="product-box fourth-box">
					<a href="#"><label>3D precise positioning</label></a>
					<div class="image-wrapper">
						<img src="assets/images/landingpage/sunmi_4g1.jpg" alt="">
					</div>
				</div>

				<div class="product-box empty-box">

				</div>
			</div>
		</div>
	</div>
</div>