<section class="feature_section">
    <h3 class="futureTitle">Discover the key features</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="card card1">
                    <h5> Memory </h5>
                    <div class="icon colored"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card2">
                    <h5>Dimension</h5>
                    <div class="icon dimension"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card3">
                    <h5> Bluetooth </h5>
                    <div class="icon bluetooth"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card4">
                    <h5> Printer Mode </h5>
                    <div class="icon printer"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card5">
                    <h5> Weight </h5>
                    <div class="icon weight"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card6">
                    <h5> Max Roll Size </h5>
                    <div class="icon roll"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card7">
                    <h5> Power </h5>
                    <div class="icon power"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card8">
                    <h5> Temperature </h5>
                    <div class="icon temperature"></div>
                </div>
            </div>
        </div>
    </div>
</section>