<app-hardware-menu></app-hardware-menu>



<!-- Watermark and title (Hardware Products) -->
<section style="padding-bottom: 0px; padding-top: 30px;">
    <div class="row">
        <div class="col-md-1">
            <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
        </div>
        <div class="col-md-3" style="position: relative; right: 55px;">
            <div class="payrowaboutUs">
                <h6 class="abtUs">PayRow Products
                    <hr class="abtusHr" style="left: 122px;" />
                </h6>
                <h3 class="mobile_product">Sunmi Mobile</h3>
            </div>
        </div>
        <div class="col-md-8 button_col">
            <div class="">
                <a routerLink="/mobiles" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
                        class="btn btn-success" style="margin-right: 20px;">DT50 5G</button></a>
                <a routerLink="/submiMobile" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
                        class="btn btn-success btn1" style="margin-right: 20px;">SUNMI MOBILE</button></a>
                <a routerLink="/catmobile" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
                        class="btn btn-success btn2" style="margin-right: 20px;">CAT MOBILE</button></a>
            </div>
        </div>
    </div>
</section>

<!-- Main -->

<main>
    <section class="landing">
        <div class="content">
            <h3 class="smallTitle">Handheld Computer</h3>
            <h1 class="bigTitle">SUNMI L2s</h1>
            <p class="description">A new generation of enterprise PDA,
                built to digitize your frontline operations.
                In the era of digital interconnection, a new form of PDA is coming.
                Empower your business operations to improve efficiency.</p>
            <img src="assets/images/landingpage/sunmi_main.png" alt="phone" class="phone">
        </div>
    </section>
</main>



<app-details></app-details>

<app-scroll-bg></app-scroll-bg>

<app-specification-wizard></app-specification-wizard>

<app-specification-cards></app-specification-cards>

<!-- Future -->
<!-- <app-sunmi-feature></app-sunmi-feature> -->

<!--footer -->
<app-app-footer></app-app-footer>