<!-- <section class="feature_section">
    <h3 class="futureTitle">Discover the key features</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Memory</h4>
                <span class="fut_span">RAM:8MB</span>
                <span class="fut_span">FLASH:16MB</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/memory.png" alt="memory" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Dimension
                </h4>
                <span class="fut_span">118mm*105mm*</span>
                <span class="fut_span">62mm</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/dimension.png" alt="dimension" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Bluetooth</h4>
                <span class="fut_span">Bluetooth 4.2 </span>
                <span class="fut_span">+2.1</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/bluetooth1.png" alt="bluetooth" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Printer Mode</h4>
                <span class="fut_span">Direct Thermal</span>
                <span class="fut_span">Mobile</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/3d-printing.png" alt="3d-printing" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Max Roll Size
                </h4>
                <span class="fut_span">50mm</span>
                <span class="fut_span">50mm</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/aim.png" alt="aim" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Power</h4>
                <span class="fut_span">Li-Ion 7.4V</span>
                <span class="fut_span">2500mAh</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/lighting.png" alt="lighting" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Temperature</h4>
                <span class="fut_span">-20~60℃</span>
                <span class="fut_span">(-4~140℉)</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/thermometer.png" alt="thermometer" class="printer_spec" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="fut_cont">Weight</h4>
                <span class="fut_span">450g</span>
                <span class="fut_span">450g</span>
                <div class="cardIcn">
                    <img src="assets/images/landingpage/weight.png" alt="weight" class="printer_spec" />
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="feature_section">
    <h3 class="futureTitle">Discover the key features</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="card card1">
                    <h5> Memory </h5>
                    <div class="icon colored"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card2">
                    <h5>Screen Size</h5>
                    <div class="icon dimension"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card3">
                    <h5> Bluetooth </h5>
                    <div class="icon bluetooth"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card4">
                    <h5> Scanning </h5>
                    <div class="icon printer"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card5">
                    <h5> Weight </h5>
                    <div class="icon weight"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card6">
                    <h5> Camera </h5>
                    <div class="icon roll"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card7">
                    <h5> Battery Power </h5>
                    <div class="icon power"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card8">
                    <h5> Sealing </h5>
                    <div class="icon temperature"></div>
                </div>
            </div>
        </div>
    </div>
</section>