<app-app-header style="font-size: 15px;"></app-app-header>


<!-- Watermark and title (About us) -->
<section style="padding-bottom: 0px; padding-top: 30px;">
    <div class="row">
        <div class="col-md-1">
            <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
        </div>
        <div class="col-md-11" style="position: relative; right: 55px;">
            <div class="payrowaboutUs">
                <h6 class="abtUs">PayRow About us
                    <hr class="abtusHr" style="left: 115px;" />
                </h6>
                <h4 class="title2">Who we are</h4>
            </div>
        </div>
    </div>
</section>

<!-- About us content with image -->
<div style="height: 570px;">
    <div class="row">
        <div class="">
            <img src="assets/images/landingpage/main.png" alt="mainImg" class="mainImg" />
            <p class="aboutusContent">PayRow is a B2B Fintech player addressing retail and microfinance industry
                using the business model of platform-as-a-service. The company has been established in the year 2020
                In payment industry veterans PayRow having an inspiring experience to extent in market.</p>
            <p class="aboutusContent2">PayRow drives its services for each region (Middle East - Africa - South
                Asia) from ideation stage to the final revenue output. By offerings company’s – hardware and
                software are targeted either towards payment service providers or end merchants and business owners.
                For joining journey send interest to info@PayRow.ae</p>
        </div>
    </div>
</div>

<!-- CEO Message -->
<div class="container" style="padding-top: 85px; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <img src="assets/images/landingpage/client.png" class="center">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="payrowaboutUs">
                        <h6 class="abtUs" style="margin-left: 0;">Message of
                            <hr class="abtusHr" style="left: 80px;" />
                        </h6>
                        <h5 class="title2" style="margin-left: 0;">CEO - Founder </h5>
                    </div>
                </div>
                <div class="clientMsg">
                    <p>Everything is possible to implement you must have good plan and believe. You can start by
                        taking risk and increase your network.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="payrowaboutUs">
                        <h6 class="abtUs" style="margin-left: 0;">Vision
                            <hr class="abtusHr" style="left: 45px;" />
                        </h6>
                    </div>
                </div>
                <div class="clientvision">
                    <p>Ultimate fintech partner</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Board members TESTIMONIALS -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Board Members</h2>
                    <div class="section-borders">
                        <span></span>
                        <span class="black-border"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-app-board-member></app-app-board-member>
<!-- END OF boardmembers TESTIMONIALS -->

<!--Team container-->

<!-- TESTIMONIALS -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Our Successful Team</h2>
                    <div class="section-borders">
                        <span></span>
                        <span class="black-border"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-success-team></app-success-team>
<!-- END OF TESTIMONIALS -->

<!-- Mission -->

<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>PayRow Mission</h2>
                    <div class="section-borders">
                        <span></span>
                        <span class="black-border"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-our-mission></app-our-mission>

<!-- Mission -->

<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>PayRow Vision</h2>
                    <div class="section-borders">
                        <span></span>
                        <span class="black-border"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-our-vision></app-our-vision>



<app-app-footer></app-app-footer>