<nav>
    <div class="nav nav-tabs dash-tab" id="distnav-tab" role="tablist">
        <button class="nav-link nav_item" id="appdownload" data-bs-toggle="tab" data-bs-target="#nav-appdownload" type="button" role="tab" aria-controls="nav-appdownload" 
        aria-selected="true" routerLink="/acntStatus" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}>POS Merchants</button>
        <button class="nav-link nav_item" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" 
        aria-selected="false" routerLink="/acntStatus/pgList" [routerLinkActive]="['active']">PG Merchants</button>
    </div>
</nav>
