<app-software-menu></app-software-menu>

<div class="bg_container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkoutTitle" style="width: 500px; margin: auto;">
                <h3 style="margin-bottom: 30px;">WPS Compliant Employee Salary Account</h3>
                <p>PayRow Payments offers the most innovative digital salary account facility for your employees in
                    compliance with the Wage Protection Scheme (WPS) initiative of LMRA and CBB guidelines. You can
                    now on-board your company as a WPS compliant business and start paying your employee salaries
                    digitally! </p>
                <br />
                <p>WPS ensures maintaining proper salary records in the regulatory systems.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkoutimg" style="margin: 0;">
                <img class="mainImg" src="assets/images/landingpage/wpsmain.png" alt="paymentImg" style="width: 55%;" />
            </div>
        </div>
    </div>
</div>

<!-- What is WPS -->

<div class="wps_container">
    <h4 style="margin: 30px;">What is Wage Protection System or WPS in the UAE</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="wpl_logo_sec">
                <img src="assets/images/landingpage/wps_logo.png" alt="wpl logo" class="center wpsImg" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="vat1">

                <p>Taxes form an integral part of a country’s economic structure. These are important to run a
                    country
                    smoothly and without many road-blocks. Different taxes are imposed at various stages while
                    selling
                    different types of goods and services. One such type of widely consumed tax structure that has a
                    global
                    reach is Value Added Tax or VAT system. Now the question arises what is vat?
                </p>
                <br />
                <p>When a person purchases a certain kind of product, a special tax is added at every stage wherever
                    a
                    certain amount of ‘value is added’ to the product, as well as at the final sale of that
                    particular
                    item.
                    This tax falls under the category of indirect tax because it is paid by the taxpayer to the
                    Government
                    indirectly through the producers of various goods and services.</p>
            </div>
        </div>

    </div>
</div>

<!-- Goals of WPS -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 30px;">GOALS AND OBJECTIVES</h4>
        <p>This massive database ensures timely payment of agreed-upon wages. The WPS in the UAE covers all
            institutions registered with MOHRE across various businesses in multiple industries. The system is aimed
            at offering services to a wide category of employees in the private sector. Some of its main goals are:
        </p>
        <br />
        <ol>
            <li>Solid commitment to safeguarding employee’s salaries.
            </li>
            <li> Safeguard employers’ interests and provide a seamless system to reduce the time and effort required
                to pay due wages and salaries.
            </li>
            <li>Improve job security in the private sector in the UAE and work towards strengthening work
                relationships and protecting the rights of both employees and employers.
            </li>
            <li>Provide a transparent and easy to use payment system.
            </li>
            <li>Offering a reliable database for the UAE Ministry of Labour that’s regularly updated on new wages
                data in the private sector.
            </li>
            <li>Proactive in providing protection to employees and reducing labour disputes associated with wages.
            </li>
        </ol>
    </div>
</div>

<!-- WPS STAKEHOLDERS -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 15px;margin-top: 30px;">WPS STAKEHOLDERS</h4>
        <p>There are various stakeholders that the Wages Protection System targets, they include:
        </p>
    </div>
    <div class="vat2">
        <h6>
            EMPLOYEES OR WORKFORCE
        </h6>
        <p>Any individual under the payroll of an organisation operating in the private sector who works in return
            for an agreed upon wage. The employee must possess a valid labour card issued by MOHRE.</p>
    </div>
    <div class="vat2">
        <h6>
            EMPLOYERS
        </h6>
        <p>The owners of an organisation in the private sector in the UAE registered with MOHRE and WPS.</p>
    </div>
    <div class="vat2">
        <h6>
            BANKS
        </h6>
        <p>This includes any bank where the employer has a bank account with and the company relies on the bank
            account for wages transfer to all employees under its payroll.</p>
    </div>
    <div class="vat2">
        <h6>
            AGENTS
        </h6>
        <p>It includes any banks, bureau de change or any other financial institution approved and authorised by the
            Central Bank of the UAE to offer salary payments through WPS in the UAE. The Central Bank regularly
            updates its list with names of approved and authorised agents.</p>
        <p>After an introduction to the database, let’s find out how the system works and how to register with WPS
            in the UAE.</p>
    </div>
</div>

<!-- WPS Procedure -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 15px;margin-top: 30px;">WPS REGISTRATION PROCEDURE FOR EMPLOYERS IN THE UAE</h4>
        <p>Employers in the private sector can easily register for the Wages Protection System in the UAE. The
            entire system is available on MOHRE’s official website where employers can register their account using
            their company details provided by the Ministry. Employers can then login to their account and update the
            lists with:
        </p>
        <br />
        <ol>
            <li>Bank account details.
            </li>
            <li>List of employees with details of the bank or agent the company works with
            </li>
            <li>The bank or agent an employee has an account with.
            </li>
            <li>The specific date at which the salary needs to be paid.
            </li>
        </ol>
        <p>Please note that according to the PAYROW guidelines “Salary month cannot have a difference of more than
            one month from the dates chosen to pay the salary”. Furthermore, the guidelines also suggest, “whenever
            an employee joins or leaves a company, you will need to download a new employee list and attach to the
            application.”
        </p>
    </div>
</div>

<!-- Payment Procedure -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 15px;margin-top: 30px;">WPS PAYMENT PROCESS</h4>
        <p>After a company has successfully registered an account, the next step is to proceed with the payment
            process by ensuring the following steps are complete:
        </p>
        <br />
        <ol style="margin-bottom: 50px;">
            <li>The employer has to open a bank account with an approved bank or agent if it does not already have a
                UAE based bank account.
            </li>
            <li>The employer has to sign into a WPS agreement with the bank or agent.
            </li>
            <li>The employer can issue salary transfer instructions to the bank or an agent.
            </li>
            <li>The bank or an agent notifies the Wages Protection System in the UAE, that sends employees’ details,
                wages and salary transfer instructions through an electronic system to the UAE Central Bank.
            </li>
            <li>The UAE Central Bank then forwards all the details to MOHRE for cross-checking.
            </li>
            <li>WPS issues an authorisation to the employer’s bank or agent to pay the employee wages. The bank then
                transfers the salary to the employee’s bank account.
            </li>
        </ol>
    </div>
</div>

<!-- Flow chart process -->

<div class="section-padding">
    <div class="container">
       <app-wpsflow></app-wpsflow>
    </div>
</div>

<!--footer -->
<app-app-footer></app-app-footer>