<app-hardware-menu></app-hardware-menu>

<!-- Watermark -->

<section style="padding-bottom: 0px; padding-top: 30px;">
    <div class="row">
        <div class="col-md-1">
            <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
        </div>
        <div class="col-md-3" style="position: relative; right: 55px;">
            <div class="payrowaboutUs">
                <h6 class="abtUs">PayRow Products
                    <hr class="abtusHr" style="left: 122px;" />
                </h6>
                <h3 class="mobile_product">Cat Mobile</h3>
            </div>
        </div>
        <div class="col-md-8 button_col">
            <div class="">
                <a routerLink="/mobiles" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
                        class="btn btn-success" style="margin-right: 20px;">DT50 5G</button></a>
                <a routerLink="/submiMobile" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
                        class="btn btn-success btn1" style="margin-right: 20px;">SUNMI MOBILE</button></a>
                <a routerLink="/catmobile" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
                        class="btn btn-success btn2" style="margin-right: 20px;">CAT MOBILE</button></a>
            </div>
        </div>
    </div>
</section>

<!-- Main -->

<section style="margin: 50px;">
    <div class="row">
        <div class="col-md-6">
            <div class="center mobile_titles">
                <h2 class="mbl_title1">Breakthrough thermal enhancements</h2>
                <h3 class="mbl_title2">CAT S62 PRO</h3>
                <h4 class="mbl_title3">The ultimate work phone with FLIR® thermal imaging</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mobile_img">
                <img src="assets/images/landingpage/cat_top.jpg" alt="mobile" class="center mobiles" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="videoBtn"><span>Watch Video</span></button>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <div class="spanDiv">
                <p class="spanDiv1">Low Latency, High Sensitivity</p>
                <p class="spanDiv2">Hygienic</p>
            </div>
        </div>
    </div>
</section>

<!-- Second page -->

<section style="margin: 50px;margin-top: 85px;">
    <div class="row">
        <div class="col-md-6">
            <div class="mobile2Div">
                <img src="assets/images/landingpage/cat_main.jpg" alt="mobile 2" class="center mobiles"
                    style="width: 100%;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mblcontent2">
                <h3 class="mblContent_title">The Ultimate Workphone</h3>
                <p class="mblContent_title1">The Cat S62 Pro is an advanced tool, providing instant access to
                    professional-grade thermal imaging in a rugged smartphone – always on, always ready. Providing even
                    more thermal detail to help locate and diagnose the damp, the draught, the leak, the hotspot, the
                    electrical short, the blockage or the elevated temperature.</p>
            </div>
        </div>
    </div>
</section>


<!-- Third page -->

<section style="margin: 50px;margin-top: 85px;">
    <div class="row">
        <div class="col-md-6">
            <div class="mblcontent2">
                <h3 class="mblContent_title">Breakthrough thermal enhancements</h3>
                <p class="mblContent_title1">The Cat S62 Pro features several exclusive enhancements providing even more
                    thermal detail to help locate and diagnose the damp, the draught, the leak, the hotspot, the
                    electrical short, the blockage or the elevated temperature.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mobile2Div">
                <img src="assets/images/landingpage/cat_water.jpg" alt="mobile 2" class="center mobiles"
                    style="width: 100%;" />
            </div>
        </div>
    </div>
</section>

<!-- Forth page -->

<section style="margin: 50px;margin-top: 85px;">
    <div class="row">
        <div class="col-md-6">
            <div class="mobile2Div">
                <img src="assets/images/landingpage/cat_hand.jpg" alt="mobile 2" class="center mobiles"
                    style="width: 100%;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mblcontent2">
                <h3 class="mblContent_title">Functional design and rugged durability.</h3>
                <p class="mblContent_title1">With a modern, rugged design the Cat S62 Pro is protected by a high grade
                    aluminium body, and toughened scratch-resistant Corning® Gorilla® Glass 6.
                    Designed to exceed MIL-SPEC 810H protection against dust, as well as shock, water, vibration and
                    extreme temperatures.</p>
            </div>
        </div>
    </div>
</section>


<app-cat-scroll></app-cat-scroll>

<app-cat-specification-cards></app-cat-specification-cards>

<!--footer -->
<app-app-footer></app-app-footer>