<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<div id="circ">
    <ul>
        <li class="animated zoomIn">
            <div class="back"></div>
            <div class="icon">
                <i class="fa fa-facebook" aria-hidden="true" style="color:#0165E1;"></i>
            </div>
        </li>
        <li class="animated zoomIn delayone">
            <div class="back"></div>
            <div class="icon">
                <i class="fa fa-twitter" style="color:#00acee;"></i>
            </div>
        </li>
        <li class="animated zoomIn delaytwo">
            <div class="back"></div>
            <div class="icon">
                <i class="fa fa-linkedin" style="color:#0072b1;"></i>
            </div>
        </li>
        <li class="animated zoomIn delaythree">
            <div class="back"></div>
            <div class="icon">
                <i class="fa fa-youtube" style="color:#FF0000;"></i>
            </div>
        </li>
        <li class="animated zoomIn delayfour">
            <div class="back"></div>
            <div class="icon">
                <i class="fa fa-pinterest-p" style="color: #E60023;"></i>
            </div>
        </li>
        <li class="animated zoomIn delayfive">
            <div class="back"></div>
            <div class="icon">
                <i class="fa fa-google-plus" style="color:#db4a39;"></i>
            </div>
        </li>
    </ul>
    <h1 class="animated fadeIn delaysix">Social Buttons</h1>
</div>