<div class="content-wrapper main-section-container">
  <app-finance-menus></app-finance-menus>

  <section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 pl-0">
          <div class="card" style="padding: 20px">
            <form>
              <div class="form-group row">
                <div class="col-4">
                  <label for="inputEmployeeName">Payment Flag</label>
                  <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                    autocomplete="off" />
                </div>
                <div class="col-4">
                  <label for="inputJobTitle">Auto Debit (Chargeback)</label>
                  <input type="text" id="inputJobTitle" name="job_title" class="form-control" autocomplete="off" />
                </div>
                <div class="col-4">
                  <label for="inputSalary">MSF Reversal</label>
                  <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4">
                  <label for="inputEmployeeName">VAT Application</label>
                  <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                    autocomplete="off" />
                </div>
                <div class="col-4">
                  <label for="inputJobTitle">Settlement Required on Hierarchy</label>
                  <input type="text" id="inputJobTitle" name="job_title" class="form-control" autocomplete="off" />
                </div>
                <div class="col-4">
                  <label for="inputSalary">Settlement Frequency</label>
                  <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4">
                  <label for="inputEmployeeName">Settlement Cycle</label>
                  <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                    autocomplete="off" />
                </div>
                <div class="col-4">
                  <label for="inputJobTitle">DCC Rebate</label>
                  <input type="text" id="inputJobTitle" name="job_title" class="form-control" autocomplete="off" />
                </div>
                <div class="col-4">
                  <label for="inputSalary">AMC Flag</label>
                  <input type="text" id="inputSalary" name="salary" class="form-control" autocomplete="off" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4">
                  <label for="inputEmployeeName">DCC Markup Fee %</label>
                  <input type="text" id="inputEmployeeName" name="employee_name" class="form-control"
                    autocomplete="off" />
                </div>
              </div>
              <div class="col-1 btn-section" id="add_employee_form">
                <div class="btn-area">
                  <button type="button" style="width: 60px; margin-right: 23px;" class="btn btn-submit" id="btn_submit"
                    data-toggle="modal">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>