<!-- Header -->
<app-app-header></app-app-header>

<!-- Container - 1 -->
<!-- Social Media -->
<div class="container">
    <div class="text-center mb-5" style="margin-top: 50px;">
        <span class="text-secondary text-uppercase">Social Media</span>
        <h1 class="text-capitalize font-weight-bold mt-2">Our Social <span style="color:#71aa46">Media</span></h1>
    </div>
</div>
<div class="row">
    <app-socialmedia></app-socialmedia>
</div>

<!-- Container - 2 -->
<!-- Our Latest News -->

<div class="col-md-10 mx-auto mb-5">
    <div class="border-bottom mb-3 pb-3 px-2 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <svg height="30px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495 495"
                style="enable-background:new 0 0 495 495;" xml:space="preserve">
                <g>
                    <path
                        d="M495,103.513V95.5c0-21.78-17.72-39.5-39.5-39.5h-416C17.72,56,0,73.72,0,95.5v303.997c0,0.003,0,0.005,0,0.008
      C0.003,421.283,17.722,439,39.5,439h416c21.78,0,39.5-17.72,39.5-39.5V103.521C495,103.518,495,103.516,495,103.513z M39.5,71h416
      c13.509,0,24.5,10.99,24.5,24.5v4.883c-35.121,34.963-92.85,92.464-140.721,140.289l-75.162-75.162
      c-9.162-9.162-24.071-9.162-33.233,0L15,381.393V95.5C15,81.99,25.991,71,39.5,71z M455.5,424h-416
      c-12.519,0-22.868-9.439-24.319-21.574L241.49,176.117c3.314-3.314,8.706-3.314,12.021,0l75.158,75.158
      C289.26,290.67,258.813,321.249,257.5,323c-2.485,3.313-1.814,8.015,1.5,10.5c1.349,1.012,2.928,1.5,4.494,1.5
      c2.187,0,4.349-0.953,5.822-2.764C275.075,325.77,412.962,188.308,480,121.551V399.5C480,413.01,469.009,424,455.5,424z" />
                    <path d="M103.5,199c21.78,0,39.5-17.72,39.5-39.5S125.28,120,103.5,120S64,137.72,64,159.5S81.72,199,103.5,199z M103.5,135
      c13.509,0,24.5,10.99,24.5,24.5S117.009,184,103.5,184S79,173.01,79,159.5S89.991,135,103.5,135z" />
                </g>
            </svg>
            <a href="#" style="color: #71aa46; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Our
                Latest News</a>
        </div>
        <a href="#" class="text-dark">See All</a>
    </div>
    <div class="row">

        <div class="col-md-4 p-4">
            <div class="border">
                <div class="position-relative w-100"
                    style="height: 250px;background-image: url(https://images.pexels.com/photos/1153369/pexels-photo-1153369.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-size: cover; background-position: center;">
                    <div class="position-absolute bg-dark" style="opacity: .3; top: 0; left:0; right: 0; bottom: 0;">
                    </div>
                    <div class="position-absolute text-white d-flex flex-column justify-content-center align-items-center rounded-circle"
                        style="top:10px; right:10px; width: 70px; height: 70px; background-color: #71aa46;">
                        <small>27</small>
                        <small><b>MAR</b></small>
                    </div>
                    <a href="#" class="position-absolute px-3 py-2 text-white"
                        style="bottom:10px; left: 10px; background-color: #71aa46;"><small>PHOTOS</small></a>
                </div>
                <div class="px-3 pt-4 pb-3">
                    <a href="#" class="d-inline-block">
                        <h4 class="text-dark" style="font-weight: 600; font-size: 1.1rem;">Lorem ipsum dolor sit amet.
                        </h4>
                    </a>
                    <p class="tex-secondary">asperiores dolore explicabo aut excepturi aliquam nam?</p>
                    <div class="d-flex mt-4">
                        <div class="d-flex align-items-center mr-4">
                            <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                                style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                            S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                            s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z" />
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		" />
                                </g>
                            </svg>
                            <small class="mt-1" style="color: #71aa46;">6 min ago</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60.015 60.015"
                                style="enable-background:new 0 0 60.015 60.015;" xml:space="preserve">
                                <g>
                                    <path d="M42.007,0h-24c-9.925,0-18,8.075-18,18v14c0,9.59,7.538,17.452,17,17.973v8.344c0,0.688,0.411,1.304,1.047,1.568
                            c0.211,0.087,0.433,0.13,0.652,0.13c0.44,0,0.873-0.173,1.198-0.498l1.876-1.876C26.708,52.713,33.259,50,40.227,50h1.781
                            c9.925,0,18-8.075,18-18V18C60.007,8.075,51.932,0,42.007,0z M58.007,32c0,8.822-7.178,16-16,16h-1.781
                            c-7.502,0-14.555,2.921-19.86,8.226l-1.359,1.359V49v-1v-4c0-0.552-0.448-1-1-1s-1,0.448-1,1v3.949c-8.356-0.52-15-7.465-15-15.949
                            V18c0-8.822,7.178-16,16-16h24c8.822,0,16,7.178,16,16V32z" />
                                    <path
                                        d="M17.007,19.015h14c0.552,0,1-0.448,1-1s-0.448-1-1-1h-14c-0.552,0-1,0.448-1,1S16.455,19.015,17.007,19.015z" />
                                    <path
                                        d="M44.007,25.015h-27c-0.552,0-1,0.448-1,1s0.448,1,1,1h27c0.552,0,1-0.448,1-1S44.56,25.015,44.007,25.015z" />
                                    <path
                                        d="M44.007,33.015h-27c-0.552,0-1,0.448-1,1s0.448,1,1,1h27c0.552,0,1-0.448,1-1S44.56,33.015,44.007,33.015z" />
                                </g>
                            </svg>
                            <small class="mt-1" style="color: #71aa46;">3 comments</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="border">
                <div class="position-relative w-100"
                    style="height: 250px;background-image: url(https://images.pexels.com/photos/545032/pexels-photo-545032.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-size: cover; background-position: center;">
                    <div class="position-absolute bg-dark" style="opacity: .3; top: 0; left:0; right: 0; bottom: 0;">
                    </div>
                    <div class="position-absolute text-white d-flex flex-column justify-content-center align-items-center rounded-circle"
                        style="top:10px; right:10px; width: 70px; height: 70px; background-color: #71aa46;">
                        <small>27</small>
                        <small><b>MAR</b></small>
                    </div>
                    <a href="#" class="position-absolute px-3 py-2 text-white"
                        style="bottom:10px; left: 10px; background-color: #71aa46;"><small>PHOTOS</small></a>
                </div>
                <div class="px-3 pt-4 pb-3">
                    <a href="#" class="d-inline-block">
                        <h4 class="text-dark" style="font-weight: 600; font-size: 1.1rem;">Lorem ipsum dolor sit amet.
                        </h4>
                    </a>
                    <p class="tex-secondary">asperiores dolore explicabo aut excepturi aliquam nam?</p>
                    <div class="d-flex mt-4">
                        <div class="d-flex align-items-center mr-4">
                            <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                                style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                            S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                            s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z" />
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		" />
                                </g>
                            </svg>
                            <small class="mt-1" style="color: #71aa46;">6 min ago</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60.015 60.015"
                                style="enable-background:new 0 0 60.015 60.015;" xml:space="preserve">
                                <g>
                                    <path d="M42.007,0h-24c-9.925,0-18,8.075-18,18v14c0,9.59,7.538,17.452,17,17.973v8.344c0,0.688,0.411,1.304,1.047,1.568
                            c0.211,0.087,0.433,0.13,0.652,0.13c0.44,0,0.873-0.173,1.198-0.498l1.876-1.876C26.708,52.713,33.259,50,40.227,50h1.781
                            c9.925,0,18-8.075,18-18V18C60.007,8.075,51.932,0,42.007,0z M58.007,32c0,8.822-7.178,16-16,16h-1.781
                            c-7.502,0-14.555,2.921-19.86,8.226l-1.359,1.359V49v-1v-4c0-0.552-0.448-1-1-1s-1,0.448-1,1v3.949c-8.356-0.52-15-7.465-15-15.949
                            V18c0-8.822,7.178-16,16-16h24c8.822,0,16,7.178,16,16V32z" />
                                    <path
                                        d="M17.007,19.015h14c0.552,0,1-0.448,1-1s-0.448-1-1-1h-14c-0.552,0-1,0.448-1,1S16.455,19.015,17.007,19.015z" />
                                    <path
                                        d="M44.007,25.015h-27c-0.552,0-1,0.448-1,1s0.448,1,1,1h27c0.552,0,1-0.448,1-1S44.56,25.015,44.007,25.015z" />
                                    <path
                                        d="M44.007,33.015h-27c-0.552,0-1,0.448-1,1s0.448,1,1,1h27c0.552,0,1-0.448,1-1S44.56,33.015,44.007,33.015z" />
                                </g>
                            </svg>
                            <small class="mt-1" style="color: #71aa46;">3 comments</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="border">
                <div class="position-relative w-100"
                    style="height: 250px;background-image: url(https://images.pexels.com/photos/310983/pexels-photo-310983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-size: cover; background-position: center;">
                    <div class="position-absolute bg-dark" style="opacity: .3; top: 0; left:0; right: 0; bottom: 0;">
                    </div>
                    <div class="position-absolute text-white d-flex flex-column justify-content-center align-items-center rounded-circle"
                        style="top:10px; right:10px; width: 70px; height: 70px; background-color: #71aa46;">
                        <small>27</small>
                        <small><b>MAR</b></small>
                    </div>
                    <a href="#" class="position-absolute px-3 py-2 text-white"
                        style="bottom:10px; left: 10px; background-color: #71aa46;"><small>PHOTOS</small></a>
                </div>
                <div class="px-3 pt-4 pb-3">
                    <a href="#" class="d-inline-block">
                        <h4 class="text-dark" style="font-weight: 600; font-size: 1.1rem;">Lorem ipsum dolor sit amet.
                        </h4>
                    </a>
                    <p class="tex-secondary">asperiores dolore explicabo aut excepturi aliquam nam?</p>
                    <div class="d-flex mt-4">
                        <div class="d-flex align-items-center mr-4">
                            <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                                style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                            S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                            s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z" />
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		" />
                                </g>
                            </svg>
                            <small class="mt-1" style="color: #71aa46;">6 min ago</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60.015 60.015"
                                style="enable-background:new 0 0 60.015 60.015;" xml:space="preserve">
                                <g>
                                    <path d="M42.007,0h-24c-9.925,0-18,8.075-18,18v14c0,9.59,7.538,17.452,17,17.973v8.344c0,0.688,0.411,1.304,1.047,1.568
                            c0.211,0.087,0.433,0.13,0.652,0.13c0.44,0,0.873-0.173,1.198-0.498l1.876-1.876C26.708,52.713,33.259,50,40.227,50h1.781
                            c9.925,0,18-8.075,18-18V18C60.007,8.075,51.932,0,42.007,0z M58.007,32c0,8.822-7.178,16-16,16h-1.781
                            c-7.502,0-14.555,2.921-19.86,8.226l-1.359,1.359V49v-1v-4c0-0.552-0.448-1-1-1s-1,0.448-1,1v3.949c-8.356-0.52-15-7.465-15-15.949
                            V18c0-8.822,7.178-16,16-16h24c8.822,0,16,7.178,16,16V32z" />
                                    <path
                                        d="M17.007,19.015h14c0.552,0,1-0.448,1-1s-0.448-1-1-1h-14c-0.552,0-1,0.448-1,1S16.455,19.015,17.007,19.015z" />
                                    <path
                                        d="M44.007,25.015h-27c-0.552,0-1,0.448-1,1s0.448,1,1,1h27c0.552,0,1-0.448,1-1S44.56,25.015,44.007,25.015z" />
                                    <path
                                        d="M44.007,33.015h-27c-0.552,0-1,0.448-1,1s0.448,1,1,1h27c0.552,0,1-0.448,1-1S44.56,33.015,44.007,33.015z" />
                                </g>
                            </svg>
                            <small class="mt-1" style="color: #71aa46;">3 comments</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Container - 3 -->
<!-- Upcoming events -->

<div class="container my-5">

    <div class="border-bottom mb-3 pb-3 px-2 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <svg height="30px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495 495"
                style="enable-background:new 0 0 495 495;" xml:space="preserve">
                <g>
                    <path
                        d="M495,103.513V95.5c0-21.78-17.72-39.5-39.5-39.5h-416C17.72,56,0,73.72,0,95.5v303.997c0,0.003,0,0.005,0,0.008
          C0.003,421.283,17.722,439,39.5,439h416c21.78,0,39.5-17.72,39.5-39.5V103.521C495,103.518,495,103.516,495,103.513z M39.5,71h416
          c13.509,0,24.5,10.99,24.5,24.5v4.883c-35.121,34.963-92.85,92.464-140.721,140.289l-75.162-75.162
          c-9.162-9.162-24.071-9.162-33.233,0L15,381.393V95.5C15,81.99,25.991,71,39.5,71z M455.5,424h-416
          c-12.519,0-22.868-9.439-24.319-21.574L241.49,176.117c3.314-3.314,8.706-3.314,12.021,0l75.158,75.158
          C289.26,290.67,258.813,321.249,257.5,323c-2.485,3.313-1.814,8.015,1.5,10.5c1.349,1.012,2.928,1.5,4.494,1.5
          c2.187,0,4.349-0.953,5.822-2.764C275.075,325.77,412.962,188.308,480,121.551V399.5C480,413.01,469.009,424,455.5,424z" />
                    <path d="M103.5,199c21.78,0,39.5-17.72,39.5-39.5S125.28,120,103.5,120S64,137.72,64,159.5S81.72,199,103.5,199z M103.5,135
          c13.509,0,24.5,10.99,24.5,24.5S117.009,184,103.5,184S79,173.01,79,159.5S89.991,135,103.5,135z" />
                </g>
            </svg>
            <a href="#" style="color: #71aa46; font-size: 20px;"
                class="text-capitalize font-weight-bold mb-0">Our Upcoming Events</a>
        </div>
        <a href="#" class="text-dark">See All</a>
    </div>

    <div class="row">

        <div class="col-md-4 p-3">
            <div class="d-flex align-items-start p-2 border" style="box-shadow: 0 0 10px #eee;">
                <img class="img-fluid mr-3" style="width: 110px;"
                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_220,h_150/https://8am.af/wp-content/uploads/2020/08/118327748_727213428129352_7910082187282163488_n-220x150.jpg"
                    alt="">
                <div>
                    <div class="d-flex align-items-center">
                        <svg height="10px" class="mr-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                    S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                    s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"></path>
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		">
                                    </polygon>
                                </g>
                            </g>
                        </svg>
                        <small style="color: #71aa46;">6 min ago</small>
                    </div>
                    <small><a href="###" class="text-dark" style="font-weight: 600; line-height:1;">Karzai supports
                            Abdullah’s stance on formation</a></small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="d-flex align-items-start p-2 border" style="box-shadow: 0 0 10px #eee;">
                <img class="img-fluid mr-3" style="width: 110px;"
                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_220,h_150/https://8am.af/wp-content/uploads/2020/09/11111111111111-220x150.jpg"
                    alt="">
                <div>
                    <div class="d-flex align-items-center">
                        <svg height="10px" class="mr-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                    S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                    s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"></path>
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		">
                                    </polygon>
                                </g>
                            </g>
                        </svg>
                        <small style="color: #71aa46;">6 min ago</small>
                    </div>
                    <small><a href="###" class="text-dark" style="font-weight: 600; line-height:1;">Karzai supports
                            Abdullah’s stance on formation of HCNR</a></small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="d-flex align-items-start p-2 border" style="box-shadow: 0 0 10px #eee;">
                <img class="img-fluid mr-3" style="width: 110px;"
                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_220,h_150/https://8am.af/wp-content/uploads/2020/07/ghani-and-abdullah-220x150.jpg"
                    alt="">
                <div>
                    <div class="d-flex align-items-center">
                        <svg height="10px" class="mr-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                    S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                    s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"></path>
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		">
                                    </polygon>
                                </g>
                            </g>
                        </svg>
                        <small style="color: #71aa46;">6 min ago</small>
                    </div>
                    <small><a href="###" class="text-dark" style="font-weight: 600; line-height:1;">Karzai supports
                            Abdullah’s stance.</a></small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="d-flex align-items-start p-2 border" style="box-shadow: 0 0 10px #eee;">
                <img class="img-fluid mr-3" style="width: 110px;"
                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_220,h_150/https://8am.af/wp-content/uploads/2020/09/11111111111111-220x150.jpg"
                    alt="">
                <div>
                    <div class="d-flex align-items-center">
                        <svg height="10px" class="mr-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                    S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                    s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"></path>
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		">
                                    </polygon>
                                </g>
                            </g>
                        </svg>
                        <small style="color: #71aa46;">6 min ago</small>
                    </div>
                    <small><a href="###" class="text-dark" style="font-weight: 600; line-height:1;">Karzai supports
                            Abdullah’s stance on formation of HCNR</a></small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="d-flex align-items-start p-2 border" style="box-shadow: 0 0 10px #eee;">
                <img class="img-fluid mr-3" style="width: 110px;"
                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_220,h_150/https://8am.af/wp-content/uploads/2020/07/ghani-and-abdullah-220x150.jpg"
                    alt="">
                <div>
                    <div class="d-flex align-items-center">
                        <svg height="10px" class="mr-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                    S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                    s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"></path>
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		">
                                    </polygon>
                                </g>
                            </g>
                        </svg>
                        <small style="color: #71aa46;">6 min ago</small>
                    </div>
                    <small><a href="###" class="text-dark" style="font-weight: 600; line-height:1;">Karzai supports
                            Abdullah’s stance.</a></small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="d-flex align-items-start p-2 border" style="box-shadow: 0 0 10px #eee;">
                <img class="img-fluid mr-3" style="width: 110px;"
                    src="https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_220,h_150/https://8am.af/wp-content/uploads/2020/08/118327748_727213428129352_7910082187282163488_n-220x150.jpg"
                    alt="">
                <div>
                    <div class="d-flex align-items-center">
                        <svg height="10px" class="mr-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                    S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                    s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"></path>
                                    <polygon
                                        points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		">
                                    </polygon>
                                </g>
                            </g>
                        </svg>
                        <small style="color: #71aa46;">6 min ago</small>
                    </div>
                    <small><a href="###" class="text-dark" style="font-weight: 600; line-height:1;">Karzai supports
                            Abdullah’s stance on formation</a></small>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Container - 4 -->
<!-- Latest Events -->

<div class="container my-5">
    <div class="border-bottom pb-3 px-2 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <svg height="30px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495 495"
                style="enable-background:new 0 0 495 495;" xml:space="preserve">
                <g>
                    <path
                        d="M495,103.513V95.5c0-21.78-17.72-39.5-39.5-39.5h-416C17.72,56,0,73.72,0,95.5v303.997c0,0.003,0,0.005,0,0.008
          C0.003,421.283,17.722,439,39.5,439h416c21.78,0,39.5-17.72,39.5-39.5V103.521C495,103.518,495,103.516,495,103.513z M39.5,71h416
          c13.509,0,24.5,10.99,24.5,24.5v4.883c-35.121,34.963-92.85,92.464-140.721,140.289l-75.162-75.162
          c-9.162-9.162-24.071-9.162-33.233,0L15,381.393V95.5C15,81.99,25.991,71,39.5,71z M455.5,424h-416
          c-12.519,0-22.868-9.439-24.319-21.574L241.49,176.117c3.314-3.314,8.706-3.314,12.021,0l75.158,75.158
          C289.26,290.67,258.813,321.249,257.5,323c-2.485,3.313-1.814,8.015,1.5,10.5c1.349,1.012,2.928,1.5,4.494,1.5
          c2.187,0,4.349-0.953,5.822-2.764C275.075,325.77,412.962,188.308,480,121.551V399.5C480,413.01,469.009,424,455.5,424z" />
                    <path d="M103.5,199c21.78,0,39.5-17.72,39.5-39.5S125.28,120,103.5,120S64,137.72,64,159.5S81.72,199,103.5,199z M103.5,135
          c13.509,0,24.5,10.99,24.5,24.5S117.009,184,103.5,184S79,173.01,79,159.5S89.991,135,103.5,135z" />
                </g>
            </svg>
            <a href="#" style="color: #71aa46; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Latest
                Events</a>
        </div>
        <a href="#" class="text-dark">See All</a>
    </div>
    <div class="row">

        <div class="col-md-4 p-4">
            <div class="border" style="box-shadow: 0 0  20px #eee;">
                <div class="d-flex p-3 align-items-center">
                    <a href="#"><img
                            src="https://avatars0.githubusercontent.com/u/39916324?s=460&u=602ca47fcce463981a2511a21148236f304ec934&v=4"
                            class="mr-3 rounded-circle" width="50px" alt=""></a>
                    <div class="mt-2">
                        <a href="#" class="d-block text-dark" style="line-height: .8; font-weight: 600;">Zakir
                            Hussain</a>
                        <small>5 min ago | in <a href="#" style="color: #71aa46;">Weeding</a></small>
                    </div>
                </div>
                <img class="w-100"
                    src="https://images.pexels.com/photos/1153369/pexels-photo-1153369.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="px-3 py-4">
                    <a href="#" class="d-block">
                        <h5 class="text-dark h6" style="font-weight: 600;">Who is good at cooking? Men or Women?</h5>
                    </a>
                    <small class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div class="border" style="box-shadow: 0 0  20px #eee;">
                <div class="d-flex p-3 align-items-center">
                    <a href="#"><img
                            src="https://scontent.fkbl4-1.fna.fbcdn.net/v/t1.0-1/p100x100/118516674_315888426504507_7995945096977338344_n.jpg?_nc_cat=108&_nc_sid=7206a8&_nc_ohc=bhi0pGLeOykAX_NWjyP&_nc_ht=scontent.fkbl4-1.fna&tp=6&oh=1c3e7658ccb85fd10e3484832dad5897&oe=5F774DAE"
                            class="mr-3 rounded-circle" width="50px" alt=""></a>
                    <div class="mt-2">
                        <a href="#" class="d-block text-dark" style="line-height: .8; font-weight: 600;">Hasina
                            Eqbali</a>
                        <small>5 min ago | in <a href="#" style="color: #71aa46;">shopping</a></small>
                    </div>
                </div>
                <img class="w-100"
                    src="https://images.pexels.com/photos/972995/pexels-photo-972995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="px-3 py-4">
                    <a href="#" class="d-block">
                        <h5 class="text-dark h6" style="font-weight: 600;">Why does shopping makes women happier?</h5>
                    </a>
                    <small class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</small>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div class="border" style="box-shadow: 0 0  20px #eee;">
                <div class="d-flex p-3 align-items-center">
                    <a href="#"><img src="https://avatars0.githubusercontent.com/u/59174850?s=460&v=4"
                            class="mr-3 rounded-circle" width="50px" alt=""></a>
                    <div class="mt-2">
                        <a href="#" class="d-block text-dark" style="line-height: .8; font-weight: 600;">Mehdi
                            Mohammadi</a>
                        <small>5 min ago | in <a href="#" style="color: #71aa46;">photography</a></small>
                    </div>
                </div>
                <img class="w-100"
                    src="https://images.pexels.com/photos/373946/pexels-photo-373946.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="px-3 py-4">
                    <a href="#" class="d-block">
                        <h5 class="text-dark h6" style="font-weight: 600;">Sport Photography; the ultimate guideline!
                        </h5>
                    </a>
                    <small class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</small>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Container - 5 -->
<!-- Latest Photos -->

<div class="container my-5">
    <div class="border-bottom pb-3 px-2 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <svg height="30px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495 495"
                style="enable-background:new 0 0 495 495;" xml:space="preserve">
                <g>
                    <path
                        d="M495,103.513V95.5c0-21.78-17.72-39.5-39.5-39.5h-416C17.72,56,0,73.72,0,95.5v303.997c0,0.003,0,0.005,0,0.008
          C0.003,421.283,17.722,439,39.5,439h416c21.78,0,39.5-17.72,39.5-39.5V103.521C495,103.518,495,103.516,495,103.513z M39.5,71h416
          c13.509,0,24.5,10.99,24.5,24.5v4.883c-35.121,34.963-92.85,92.464-140.721,140.289l-75.162-75.162
          c-9.162-9.162-24.071-9.162-33.233,0L15,381.393V95.5C15,81.99,25.991,71,39.5,71z M455.5,424h-416
          c-12.519,0-22.868-9.439-24.319-21.574L241.49,176.117c3.314-3.314,8.706-3.314,12.021,0l75.158,75.158
          C289.26,290.67,258.813,321.249,257.5,323c-2.485,3.313-1.814,8.015,1.5,10.5c1.349,1.012,2.928,1.5,4.494,1.5
          c2.187,0,4.349-0.953,5.822-2.764C275.075,325.77,412.962,188.308,480,121.551V399.5C480,413.01,469.009,424,455.5,424z" />
                    <path d="M103.5,199c21.78,0,39.5-17.72,39.5-39.5S125.28,120,103.5,120S64,137.72,64,159.5S81.72,199,103.5,199z M103.5,135
          c13.509,0,24.5,10.99,24.5,24.5S117.009,184,103.5,184S79,173.01,79,159.5S89.991,135,103.5,135z" />
                </g>
            </svg>
            <a href="#" style="color: #71aa46; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Latest
                Photos</a>
        </div>
        <a href="#" class="text-dark">See All</a>
    </div>

    <div class="row">

        <div class="col-md-4 p-4">
            <div style="box-shadow: 0 0  20px #ddd;">
                <div class="position-relative"
                    style="height: 320px; background-image: url(https://images.pexels.com/photos/2040627/pexels-photo-2040627.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-position: center; background-size: cover;">
                    <div class="position-absolute px-3 py-4"
                        style="background: rgba(0, 0, 0, .5); right: 0; bottom: 0; left: 0;">
                        <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">Lorem ipsum dolor
                                consectetur adipisicing elit. Commodi, ad!</a></h3>
                        <div class="mt-2 d-flex justify-content-between">
                            <a href="#" class="pl-2 text-white"
                                style="border-left: 3px solid #71aa46;"><small>Travel</small></a>
                            <a href="#" class="text-white"><small>Sara Faizi</small></a>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-center mr-4">
                        <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">

                            <g>
                                <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                      S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                      s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z" />
                                <polygon
                                    points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		" />
                            </g>
                        </svg>
                        <small class="mt-1" style="color: #71aa46;">6 min ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div style="box-shadow: 0 0  20px #ddd;">
                <div class="position-relative"
                    style="height: 320px; background-image: url(https://images.pexels.com/photos/1122868/pexels-photo-1122868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-position: center; background-size: cover;">
                    <div class="position-absolute px-3 py-4"
                        style="background: rgba(0, 0, 0, .5); right: 0; bottom: 0; left: 0;">
                        <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">Lorem ipsum dolor
                                consectetur adipisicing elit. Commodi, ad!</a></h3>
                        <div class="mt-2 d-flex justify-content-between">
                            <a href="#" class="pl-2 text-white"
                                style="border-left: 3px solid #71aa46;"><small>Travel</small></a>
                            <a href="#" class="text-white"><small>Sara Faizi</small></a>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-center mr-4">
                        <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">

                            <g>
                                <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                      S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                      s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z" />
                                <polygon
                                    points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		" />
                            </g>
                        </svg>
                        <small class="mt-1" style="color: #71aa46;">6 min ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div style="box-shadow: 0 0  20px #ddd;">
                <div class="position-relative"
                    style="height: 320px; background-image: url(https://images.pexels.com/photos/2577274/pexels-photo-2577274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-position: center; background-size: cover;">
                    <div class="position-absolute px-3 py-4"
                        style="background: rgba(0, 0, 0, .5); right: 0; bottom: 0; left: 0;">
                        <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">Lorem ipsum dolor
                                consectetur adipisicing elit. Commodi, ad!</a></h3>
                        <div class="mt-2 d-flex justify-content-between">
                            <a href="#" class="pl-2 text-white"
                                style="border-left: 3px solid #71aa46;"><small>Travel</small></a>
                            <a href="#" class="text-white"><small>Sara Faizi</small></a>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-center mr-4">
                        <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300.988 300.988"
                            style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">

                            <g>
                                <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                      S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                      s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z" />
                                <polygon
                                    points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		" />
                            </g>
                        </svg>
                        <small class="mt-1" style="color: #71aa46;">6 min ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Container - 6 -->
<!-- Payrow Gallery -->

<div class="container" style="margin-bottom:50px;">
    <div class="border-bottom mb-3 pb-3 px-2 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <svg height="30px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495 495"
                style="enable-background:new 0 0 495 495;" xml:space="preserve">
                <g>
                    <path
                        d="M495,103.513V95.5c0-21.78-17.72-39.5-39.5-39.5h-416C17.72,56,0,73.72,0,95.5v303.997c0,0.003,0,0.005,0,0.008
          C0.003,421.283,17.722,439,39.5,439h416c21.78,0,39.5-17.72,39.5-39.5V103.521C495,103.518,495,103.516,495,103.513z M39.5,71h416
          c13.509,0,24.5,10.99,24.5,24.5v4.883c-35.121,34.963-92.85,92.464-140.721,140.289l-75.162-75.162
          c-9.162-9.162-24.071-9.162-33.233,0L15,381.393V95.5C15,81.99,25.991,71,39.5,71z M455.5,424h-416
          c-12.519,0-22.868-9.439-24.319-21.574L241.49,176.117c3.314-3.314,8.706-3.314,12.021,0l75.158,75.158
          C289.26,290.67,258.813,321.249,257.5,323c-2.485,3.313-1.814,8.015,1.5,10.5c1.349,1.012,2.928,1.5,4.494,1.5
          c2.187,0,4.349-0.953,5.822-2.764C275.075,325.77,412.962,188.308,480,121.551V399.5C480,413.01,469.009,424,455.5,424z" />
                    <path d="M103.5,199c21.78,0,39.5-17.72,39.5-39.5S125.28,120,103.5,120S64,137.72,64,159.5S81.72,199,103.5,199z M103.5,135
          c13.509,0,24.5,10.99,24.5,24.5S117.009,184,103.5,184S79,173.01,79,159.5S89.991,135,103.5,135z" />
                </g>
            </svg>
            <a href="#" style="color: #71aa46; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">PayRow
                Gallery</a>
        </div>
        <a href="#" class="text-dark">See All</a>
    </div>
    <div class="row">

        <div class="col-md-4 p-3">
            <div class="position-relative"
                style="height: 280px; background-image: url(https://media.gettyimages.com/photos/at-the-the-network-tolo-televised-debate-dr-abdullah-abdullah-with-picture-id1179614034?k=6&m=1179614034&s=612x612&w=0&h=WwIX3RMsOQEn5DovD9J3e859CZTdxbHHD3HRyrgU3A8=); background-position: center; background-size: cover;">
                <a href="#" class="position-absolute text-white px-3 py-2"
                    style="z-index: 10; top:20px; right:20px; background-color: #71aa46;">
                    <small>New</small>
                </a>
                <div class="position-absolute p-3 d-flex flex-column justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">Dr. Abdullah Abdullah's
                            Presidential Election Campaign</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="position-relative"
                style="height: 280px; background-image: url(https://media.gettyimages.com/photos/during-his-presidential-campaign-dr-abdullah-talks-to-thousands-of-picture-id1179613429?k=6&m=1179613429&s=612x612&w=0&h=un38o3CsqcAD4kUIjsd49UdTyJcfn2l_mndjnmD9qMQ=); background-position: center; background-size: cover;">
                <a href="#" class="position-absolute text-white px-3 py-2"
                    style="z-index: 10; top:20px; right:20px; background-color: #71aa46;">
                    <small>New</small>
                </a>
                <div class="position-absolute p-3 d-flex flex-column justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">Dr. Abdullah Abdullah's
                            Presidential Election Campaign</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="position-relative"
                style="height: 280px; background-image: url(https://media.gettyimages.com/photos/during-his-presidential-campaign-dr-abdullah-talks-to-thousands-of-picture-id1179613401?k=6&m=1179613401&s=612x612&w=0&h=HFj4Uzls-FEDs1AkxspY2nmhKrZ3ITIjuew7YOHN6eI=); background-position: center; background-size: cover;">
                <a href="#" class="position-absolute text-white px-3 py-2"
                    style="z-index: 10; top:20px; right:20px; background-color: #71aa46;">
                    <small>New</small>
                </a>
                <div class="position-absolute p-3 d-flex flex-column justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <h3 class="h6"><a href="#" class="text-white" style="line-height: 1.6;">Dr. Abdullah Abdullah's
                            Presidential Election Campaign</a></h3>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<app-app-footer></app-app-footer>