<div class="coloumnPerf">
    <div class="customerJourney">
        <h6 class="title1" style="margin-left: 0;">Achivements
          <hr class="titleHr"/>
        </h6>
        <h5 class="title2" style="margin-left: 0;">PayRow Performance</h5>
      </div>
    <div class="row">
        <div class="col-md-3" style="margin-right: 0px;">
            <div class="card performanceCard">
                <img class="performanceImg" src="assets/images/landingpage/world.svg" alt="">
                <p class="subTitle1">Countries</p>
                <div class="counter count1" data-count="20">0</div>
            </div>
        </div>
        <div class="col-md-3" style="margin-right: 0px;">
            <div class="card performanceCard">
                <img class="performanceImg" src="assets/images/landingpage/merchant.svg" alt="">
                <p class="subTitle2">Merchants</p>
                <div class="counter count2" data-count="185K">0K</div>
            </div>
        </div>
        <div class="col-md-3" style="margin-right: 0px;">
            <div class="card performanceCard">
                <img class="performanceImg" src="assets/images/landingpage/tapcard.svg" alt="">
                <p class="subTitle3">Transactions</p>
                <div class="counter count3" data-count="130M">0M</div>
            </div>
        </div>
        <div class="col-md-3" style="margin-right: 0px;">
            <div class="card performanceCard">
                <img class="performanceImg" src="assets/images/landingpage/wps.svg" alt="">
                <p class="subTitle4">WPS</p>
                <div class="counter count4" data-count="202K">0K</div>
            </div>
        </div>
    </div>
</div> 