.edit_btn {
    width: 80px;
    background: #72ac47;
    // position: absolute;
    // right: 5%;
    // top: 45px;
    border: none;
    float: left;
    margin-top:10px;

}

.form-control{
    font-size: 14px;
  }
  
  label{
    font-weight: 400 !important;
    font-size: 15px;
  }

  .form-check-label img {
    width: 40%;
    margin-top: 10px;
}

.radio_css{
  position: relative;
  top: 42px;
  margin-left: 15px;
}