<!-- <ng-template #nbqWps> -->
<button class="btn btn-sm btn-success edit_btn"
style="margin-top: -56px;
float: right;
margin-right: 11%;" (click)="openPDF()">Download</button>
<div class="card-body" style="background-color: #fff;padding: 8px;">
    <!-- WPS FORM -->
    <img src="assets/images/nbq.png" class="nbqImage" />
    <section>
        <div class="mainDiv mainDiv2">
			<div id="htmlOne">
				<form>
					<div class="card nbqCard">
						<div>
							<h5>اتفاقية دفع الأجور الشهرية لموظفي الشركات العملاء.</h5>
							<h5>Agreement for Payment of Monthly Salaries of Corporate Customers employees.</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<h6 style="margin: 20px;">This has been agreed between:</h6>
							<input type="text" class="form-control nbqInput" id="nbqField" placeholder="" />
							<input type="text" class="form-control nbqInput" id="nbqField" placeholder="" />
							<input type="text" class="form-control nbqInput" id="nbqField" placeholder="" />
							<p style="margin-top: 20px;">(the name of the company along with the mentioning of the
								legal
								status of that company and
								with its full address) as the first contractual party (hereafter referred to as
								Company)
								and
								National Bank of Umm Al Qaiwain, Head Office, King Faisal Street P. O Box 800,Umm Al
								Qaiwain
								as the second contractual party(hereafter referred to as Bank)
							</p>
						</div>
						<div class="col-6">
							<h6 style="margin: 20px; text-align: right;">تمت هذه الاتفاقية فيما بين:</h6>
							<input type="text" class="form-control nbqInput" id="nbqField" placeholder="" />
							<input type="text" class="form-control nbqInput" id="nbqField" placeholder="" />
							<input type="text" class="form-control nbqInput" id="nbqField" placeholder="" />
							<p style="text-align: right; margin-top: 20px;">
								(اسم الشركة و شكل الشركة القانوني مع العنوان التفصيلي)، حيث أن الطرف
								الأول ( يشار إليها هنا وفيما بعد بالشركة)،
								<br>
								و بنك أم القيوين الوطني، المركز الرئيسي، شارع الملك فيصل، صندوق بريد
								رقم 800، أم القيوين كطرف ثان (يشار إليه هنا وفيما بعد بالبنك).
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<h5 style="color: black; margin: 20px">Preamble :</h5>
							<p style="margin-bottom: 30px;">With reference to our current account</p>
							<div class="row">
								<p class="col-2">No</p>
								<input type="text" class="form-control refInput col-8" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-2">Titled</p>
								<input type="text" class="form-control refInput col-8" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-3">With your</p>
								<input type="text" class="form-control refInput col-7" id="refField"
									placeholder="" />
								<p class="col-2">branch</p>
							</div>
							<p style="margin-top: 20px;">
								Since a number of our employees maintain accounts with your bank either in the form
								of
								Salary Cards (named as Rateb Cards) or operative accounts or with other commercial
								banks
								in
								the United Arab Emirates, you are kindly requested to credit their monthly salaries
								to
								their
								accounts / cards as per the details that are presented monthly to you.
								<br>
								<br>
								The charges* agreed on issuance of Salary Cards and processing of various types of
								salaries
								are as under:
							</p>
						</div>

						<div class="col-6">
							<h5 class="newRight" style="color: black; margin: 20px">تمهيد:</h5>
							<p class="newRight" style="margin-bottom: 30px;">بالإشارة الى حسابنا الجاري:</p>
							<div class="row">
								<input type="text" class="form-control refInput col-8" id="refField"
									placeholder="" />
								<p class="col-4 newRight">حساب رقم</p>
							</div>
							<div class="row">
								<input type="text" class="form-control refInput col-8" id="refField"
									placeholder="" />
								<p class="col-4 newRight">إسم الشركة</p>
							</div>
							<div class="row">
								<input type="text" class="form-control refInput col-8" id="refField"
									placeholder="" />
								<p class="col-4 newRight">لدى فرع البنك في </p>
							</div>
							<p class="newRight" style="margin-top: 20px;">
								وحيث أن عدداً من موظفي الشركة لديهم حسابات بنكية لدى بنك أم القيوين
								الوطني، حساب بطاقات راتب (و المسماة بطاقة الراتب)، او حساب فعال، أو
								حسابات لدى بنوك تجارية أخرى داخل دولة الإمارات العربية المتحدة، لذلك
								فاننا نطلب منكم إيداع أجورهم الشهرية في حساباتهم / بطاقاتهم بموجب الكشف
								التفصيلي الذي سيتم تقديمه شهرياً من قبل الشركة للبنك.
								<br>
								<br>
							<p class="newRight">
								ستكون الرسوم* المتفق عليها عند إصدار بطاقات الراتب، واجراء الأنواع
								المختلفة من تحويلات الأجور كما هي مذكورة أدناه:
							</p>
						</div>
					</div>
				</form>
			</div>
        </div>
        <div class="mainDiv" style="padding: 30px; margin-top: 10px; margin-bottom: 10px;">
			<div id="htmlTwo">
                <table class="table table_cust table-hover">
					<thead style="background-color: #0070C0; color: #fff;">
						<tr>
							<th scope="col">Service</th>
							<th scope="col">Charges</th>
							<th scope="col" style="text-align: right;">الرسوم</th>
							<th scope="col" style="text-align: right;">الخدمات</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="background-color: #DEEAF6;">
								Card Set up,
								First Pin Mailer &
								Delivery of Card(s) & PIN(s)
							</td>
							<td style="width: 20%;">AED</td>
							<td>AED</td>
							<td style="text-align: right; background-color: #DEEAF6;">
								تنصيب البطاقة
								إرسال الرقم السري الأولي بالبريد وتسليم البطاقة /
								البطاقات والرقم السري/ الأرقام السرية.
							</td>
						</tr>
						<tr>
							<td style="background-color: #DEEAF6;">
								<b>Salary Processing Fee</b>
								<br>
								- Rateb Cards <br>
								- Accounts with NBQ <br>
								- Accounts with Other Banks <br>
								Minimum Charges apply (< 20 Employees) </td>
							<td style="width: 20%;">AED</td>
							<td>AED</td>
							<td style="text-align: right; background-color: #DEEAF6;">
								<b>رسوم تقديم الخدمة</b>
								<br>
								- بطاقات الراتب<br>
								- حسابات لدى بنك أم القيوين الوطني<br>
								- حسابات لدى بنوك أخرى<br>
								يطبق الحد الأدنى للرسوم (أقل من عشرين موظفاً)
							</td>
						</tr>
					</tbody>
				</table>
				<hr />
				<div class="row">
					<div class="col-6">
						<p>
							We, hereby under this agreement, agree and confirm having read the Rules governing
							Corporate
							Salary Payments and agreed to abide by the terms & conditions attached herewith:
						</p>
					</div>
					<div class="col-6">
						<p style="text-align: right;">
							نؤكد بموجب هذه الإتفاقية بأنه تمت قراءة كافة الشروط التي تحكم دفعات الأجور
							الخاصة بالشركات، ونوافق ونتعهد على الإلتزام بكافة الشروط والأحكام المرفقة طياً:
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<p style="text-align: right;">
							المخول/ المخولين بالتوقيع والتاريخ
						</p>
					</div>
					<div class="col-6">
						<p style="text-align: right;">
							ختم الشركة
						</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-6">
						<h6 style="margin-bottom: 50px;">Authorised Signatory(s) & Date</h6>
						<div class="row">
							<p class="col-5">Trade License Number :</p>
							<input type="text" class="form-control refInput col-6" id="refField" placeholder="" />
						</div>
						<div class="row">
							<p class="col-5">Company ID (MOL Number): </p>
							<input type="text" class="form-control refInput col-6" id="refField" placeholder="" />
						</div>
						<div class="row">
							<p class="col-5">CIF : </p>
							<input type="text" class="form-control refInput col-6" id="refField" placeholder="" />
						</div>
					</div>
					<div class="col-6">
						<h6 style="margin-bottom: 50px;">Company Stamp</h6>
						<div class="row">
							<input type="text" class="form-control refInput col-6" id="refField" placeholder="" />
							<p class="col-5" style="text-align: right;">رقم الرخصة التجارية: </p>
						</div>
						<div class="row">
							<input type="text" class="form-control refInput col-6" id="refField" placeholder="" />
							<p class="col-5" style="text-align: right;">رقم المنشأة: </p>
						</div>
						<div class="row">
							<input type="text" class="form-control refInput col-6" id="refField" placeholder="" />
							<p class="col-5" style="text-align: right;">رقم ملف العميل:</p>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="mainDiv" style="padding: 30px; margin-top: 10px;">
			<div id="htmlThree">
				<div class="card nbqCard">
					<div>
						<h5>Bank Use Only</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div style="margin-top: 15px;">
							<p style="margin-bottom: 25px;">
								<b>
									Signature Verified by
								</b>
							</p>
							<div class="row">
								<p class="col-2">Name :</p>
								<input type="text" class="form-control refInput col-4" id="refField"
									placeholder="" />
								<p class="col-2">Signature:</p>
								<input type="text" class="form-control refInput col-4" id="refField"
									placeholder="" style="width: 25%;" />
							</div>
							<div class="row">
								<p class="col-3">Designation :</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-3">Staff ID:</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-3">Emp Id :</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
						</div>
					</div>
					<div class="col-6">
						<div style="margin-top: 15px;">
							<p style="margin-bottom: 25px;">
								<b>
									Request approved by :
								</b>
							</p>
							<div class="row">
								<p class="col-3">Name :</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-3">Designation :</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-3">Staff ID:</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
							<div class="row">
								<p class="col-3">Emp Id :</p>
								<input type="text" class="form-control refInput col-9" id="refField"
									placeholder="" />
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>
    <!-- WPS FORM END -->

    <!-- FORM 1 -->
    <section>
        <div class="mainDiv" style="margin-top: 20px;">
			<div id="htmlFour">
				<form>
					<div class="form-group" style="float: right;">
						<div class="row">
							<label for="nameField" class="col-2">Date</label>
							<div class="col-10">
								<input type="text" class="form-control dateInput" id="nameField"
									placeholder="Ex:15-02-2022" style="font-size: 14px;"/>
							</div>
						</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="to">
							<p>The Manager</p>
							<p>Salaries Section,</p>
							<p>National Bank of Umm Al Qaiwain,</p>
							<p>Umm Al Qaiwain</p>
						</div>
					</div>
					<br>
					<br>
					<div>
						<p>Dear Sir/Madam,</p>
						<p>Sub: ENROLLMENT FOR WAGE PROTECTION SYSTEM</p>
						<div class="row">
							<p class="col-4">Ref: Our account no xxxxxxxxxx in the name of </p>
							<input type="text" class="form-control col-3 refInput" id="refField" placeholder="" />
						</div>
					</div>
					<div class="row">
						<p class="col-1">We</p>
						<input type="text" class="form-control refInput col-3" id="refField" placeholder="" />
						<p class="col-5">would like to pay our salary from the above mentioned.</p>
						<p class="5">
							We are currently holding account no xxxxxxxxxx with your bank. In reference to the above
							mentioned subject and in compliance with the UAE ministry of labour rules & regulations
							we would
							like to start participating in the WPS process with your bank.
							Kindly issue us with an agreement to that effect.
						</p>
					</div>
					<div class="row">
						<p class="">Our company MOL number is</p>
						<input type="text" class="form-control refInput col-3" id="refField" placeholder="" />
					</div>
					<div class="row">
						<p class="">Our company Trade License number is</p>
						<input type="text" class="form-control refInput col-3" id="refField" placeholder="" />
					</div>
					<div>
						<p>
							Attached here with are the following documents for your reference.
							1. Valid Trade License.
						</p>
						<br>
						<p>Thank you and hoping for your best services.</p>
						<br>
						<p>Yours faithfully</p>
					</div>
					<div>
						<input type="text" class="form-control refInput" id="refField" placeholder=""
							style="width: 23%;" />
						<p class="">(Authorized signature & Stamp)</p>
					</div>
				</form>
			</div>
        </div>
    </section>
    <!-- FORM 1 END -->
</div>
<!-- </ng-template> -->