<div class="content-wrapper main-section-container">
    <app-distributor-menus></app-distributor-menus>
    <!-- <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right header-caret" id="location"> -->
        <section class="content mt-3">
            <div class="container-fluid">
                <div class="col-12 pl-0 pr-0">
                    <div class="table-responsive table-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.564352189504!2d55.29904731448556!3d25.25159423568928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f4364567289d9%3A0x7dc526f222a949a9!2sThe%20Burjuman%20Business%20Tower!5e0!3m2!1sen!2sin!4v1623160688892!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </section>

        
</div>