
<nav>
    <div class="nav nav-tabs dash-tab" id="distnav-tab" role="tablist">
        <button class="nav-link nav_item" id="appdownload" data-bs-toggle="tab" data-bs-target="#nav-appdownload" type="button" role="tab" aria-controls="nav-appdownload" aria-selected="true" routerLink="/onboarding" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}>POS MID Allocation</button>
        <button class="nav-link nav_item" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="false" routerLink="/onboarding/tid-allocate" [routerLinkActive]="['active']">POS TID Allocation</button>
        <button class="nav-link nav_item" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="false" routerLink="/onboarding/pgAuthentication" [routerLinkActive]="['active']">PG Authentication</button>
    </div>
</nav> 