<div class="customerContainer">
    <div class="customerJourney">
        <h6 class="title1">How it works
        </h6>
        <h5 class="title2">Customer Journey</h5>
    </div>
    <div class="row cus_jo">
        <div class="col-md-2 common_journey1">
            <img class="customer" src="assets/images/landingpage/customer.svg" alt="">
            <div class="cusText">
                <h6 class="journeyTitle">Customer</h6>
                <p style="font-size: 12px;">Turn your idea from concept to MVP</p>
            </div>
        </div>

        <div class="col-md-2 common_journey">
            <img class="" src="assets/images/landingpage/mobile.svg" alt="">
            <div class="">
                <h6 class="journeyTitle">Mobile</h6>
                <p style="font-size: 12px; width: 110px;">Turn your idea from concept to MVP</p>
            </div>
        </div>

        <div class="col-md-2 common_journey2">
            <img class="" src="assets/images/landingpage/retail.svg" alt="">
            <div class="">
                <h6 class="journeyTitle">Retail</h6>
                <p style="font-size: 12px;">Turn your idea from concept to MVP</p>
            </div>
        </div>

        <div class="col-md-2 common_journey3">
            <img class="" src="assets/images/landingpage/tap.svg" alt="">
            <div class="">
                <h6 class="journeyTitle">Tap to Pay</h6>
                <p style="font-size: 12px;">Turn your idea from concept to MVP</p>
            </div>
        </div>

        <div class="col-md-2 common_journe4">
            <img class="" src="assets/images/landingpage/bank.svg" alt="">
            <div class="">
                <h6 class="journeyTitle">Bank</h6>
                <p style="font-size: 12px;">Turn your idea from concept to MVP</p>
            </div>
        </div>
    </div>
</div>
