<app-software-menu></app-software-menu>

<div class="main-container connect connect1">
  <div class="inside-container" style="margin: 0 auto;">
    <div class="row">
      <div class="col-md-6" style="margin: 0 auto; display: block;">
        <div class="headingKyc">
          <h3 style="margin-bottom: 50px;">E-KYC</h3>
          <h4 style="line-height: 1.7;">Customer Identification and Verification</h4>
          <h5 style="line-height: 1.7;">Quick. Credible. Comprehensive</h5>
          <h6 style="line-height: 1.7;">Differentiate the good from the bad. Filter out fraudulent customers before
            they impact your revenues.
          </h6>
        </div>
      </div>
      <div class="col-md-6 subhead">
        <img src="assets/images/landingpage/idverification.svg" alt="" class="img-fluid"
          style="width: 60%;margin: 0 auto; display: block;" />
      </div>
    </div>
  </div>
</div>

<section style="padding-bottom: 125px; padding-top: 125px;">

  <div class="row" style="position: relative; bottom: 85px;">

    <div class="col-md-6">
      <img src="assets/images/landingpage/Banner_Image.svg" alt="" class="img-fluid"
        style="width: 70%;margin: 0 auto; display: block;" />
    </div>
    <div class="col-md-6">
      <h3 class="kycTitle">eKYC</h3>
      <div class="content1">
        <p style="line-height: 2;">PayRow’s next-generation eKYC platform ensures a seamless onboarding
          user-experience for your customers
          through advanced document and facial recognition, location verification, liveliness detection, and the
          next-gen fraud analytics engine. We have our own customer onboarding application to collect the data.
          Additionally, PayRow’s OCR extracts all relevant attributes like name, address, etc., from the KYC document
          within a few seconds. It entails robust facial recognition and image match module, which cross matches
          facial data with the live captured image or the submitted image to determine any fraudulent activity. It
          also consists of REST API for easy integration and cloud-based processing.</p>
      </div>
    </div>
  </div>
</section>

<div class="main-container connect connect1" style="height: 770px;">
  <div class="inside-container" style="margin: 0 auto;">
    <div class="Riskdiv">
      <i class="fas fa-quote-left quatationMark"></i>
      <h3 class="riskAss">How our Onboarding Risk Assessment solution can help your organisation.</h3>
    </div>
  </div>

  <div class="container">
    <main class="grid">
      <article>
        <div class="text">
          <img src="assets/images/landingpage/Positive-Brand.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Improved Customer Onboarding</h6>
          <p class="kyc-p">Real-time insights on new customer requests help you identify and target only suspicious customers while
            onboarding trustworthy ones instantly.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/coverage-across.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Positive Brand Image</h6>
          <p class="kyc-p">Safeguarding customers from insurance fraud reduces customer churn, transforms their experience, and helps
            build a positive brand image.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/minimal-fraud.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Dynamically Procrastinate</h6>
          <p class="kyc-p">Completely synergize resource taxing relationships via premier niche markets.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/business-excellence.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Reduced Time to Action</h6>
          <p class="kyc-p">Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/on-the-go.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Lower Dropout Rate</h6>
          <p class="kyc-p">Seamless onboarding and enhanced customer experience ensure a lower dropout rate.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/economic-models.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Reduced Time to Action</h6>
          <p class="kyc-p">Secure and paperless KYC reduces the time needed for verification of customers without
            compromising data security.</p>
        </div>
      </article>
    </main>
  </div>
</div>

<section style="padding-top: 125px;">
  <div class="row" style="position: relative; bottom: 85px;">
    <div class="col-md-6">

      <div class="content1" style="margin: auto;">
        <h3 class="kycTitle" style="margin-bottom: 20px;">Verify your customer's identity in seconds!</h3>
        <h5 style="margin-bottom: 20px;">Try PayRow’s 90 days* free e-KYC solution now!</h5>
        <p style="line-height: 2;">PayRow’ s 90 days* free eKYC solution helps companies see real identity – the
          humans behind the screens – with leading AI and expertise in identity space. Your customers can prove their
          identities, wherever they are, with just an ID and their face. Grow your business with ease without worrying
          about identity thefts and without bearing any cost for 90 days*
          *Conditions Apply</p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/landingpage/faceid.png" alt="" class="img-fluid"
        style="width: 70%;margin: 0 auto; display: block;" />
    </div>
  </div>
</section>

<div class="container">
  <div class="solutionTitle">
    <h4>Check out Onboarding Risk Assessment solution features</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution1.svg" alt="solution1" style="width: 50px;margin-bottom: 10px;">
        <h5>Insurance Policy Risk Prediction</h5>
        <p>Predicts risks associated with the insurer for a policy using various insurer attributes.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution2.svg" alt="solution2" style="width: 50px;margin-bottom: 10px;">
        <h5>Alternate Credit Scoring</h5>
        <p>Predicts credibility and creditworthiness of a customer using various aggregated customer attributes
          available from alternate data sources.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution3.svg" alt="solution3" style="width: 50px;margin-bottom: 10px;">
        <h5>Address Verification Model</h5>
        <p>Validates the address of a user, provided at the point of sale against the registered or derived address
          from the wide variety of telecom data.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution4.svg" alt="solution4" style="width: 50px;margin-bottom: 10px;">
        <h5>Income Prediction Model</h5>
        <p>Validates the address of a user, provided at the point of sale against the registered or derived address
          from the wide variety of telecom data.</p>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<section class="faq-section">
  <div class="container">
    <div class="row">
      <!-- ***** FAQ Start ***** -->
      <div class="col-md-6 offset-md-3">

        <div class="faq-title text-center pb-3">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1">
                  <span class="badge">1</span>How customisable is the Buy Now Pay Later app?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
              <div class="card-body">
                <p>To make the app truly unique, we at DigiPay.Guru considers all points of customization suiting the
                  respective business’ vision and use-cases. We provide a completely white labelled solution that would
                  take into consideration the aesthetic preferences for the app as well.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-2">
                  <span class="badge">2</span>Is there no credit check for buy now pay later apps?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
              <div class="card-body">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                  classical Latin literature from 45 BC, making it over 2000 years old.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-3">
                  <span class="badge">3</span>Can BNPL apps with mobile money increase revenue for my business?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
              <div class="card-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                  when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-4">
                  <span class="badge">4</span>Can BNPL model be developed as an eWallet payment app?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
              <div class="card-body">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour, or randomised words which don't look even slightly
                  believable.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-5">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-5">
                  <span class="badge">5</span> What is Lorem Ipsum?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
              <div class="card-body">
                <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                  containing</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-6">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-6">
                  <span class="badge">6</span> Where does it come from?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
              <div class="card-body">
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                  their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-7">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-7">
                  <span class="badge">7</span> Why do we use it?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
              <div class="card-body">
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                  text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                  versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour
                  and the like).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer -->
<app-app-footer></app-app-footer>