<div class="text-center mb-5" style="margin-bottom: 6rem !important;">
    <span>WPS STEPS</span>
    <h2 class="font-weight-bold display-4 ">How It <span style=" color: #72ac47">Works?</span></h2>
</div>

<div class="container">
    <div class="step-wrapper move-line">
        <article class="linestep linestep1" style="left: 56%; top: -9%;">
            <!-- <span class="num"> 1</span> -->
            <img src="assets/images/landingpage/vat_bank.svg" alt="customer" style="width: 70px;"/>
            <p class="bottom">
                Bank
            </p>
        </article>

        <article class="linestep linestep4" style="left: 32%; top: 40.5%;">
            <!-- <span class="num">2</span> -->
            <img src="assets/images/landingpage/payrow_vat1.png" alt="customer" style="width: 100px;"/>
            <p class="bottom">
                PayRow
            </p>
        </article>

        <article class="linestep linestep8" style="left: 86%; top: 83%;">
            <!-- <span class="num">3</span> -->
            <img src="assets/images/landingpage/auditor.svg" alt="customer" style="width: 80px;"/>
            <p class="bottom">
                Staffs
            </p>
        </article>

        <svg width="100%" viewBox="0 0 1156 608" xmlns="http://www.w3.org/2000/svg">
            <path class="path"
                d="m560.30957,10.588011c0,0 438.0947,1.90476 439.04708,1.90476c0.95238,0 144.57857,-1.02912 143.80934,137.14269c-0.76923,138.17181 -116.81095,142.30859 -131.61967,143.8923c-14.80873,1.58372 -840.41472,-0.71429 -860.5941,0.71429c-20.17938,1.42858 -148.4991,6.80903 -146.83244,147.05973c1.66666,140.2507 129.52365,152.14266 129.33243,151.27321c0.19122,0.86945 815.268425,2.687632 951.42748,0"
                opacity="0.5" stroke-width="7" stroke="#5e5d5c" fill="none" />
        </svg>
    </div>
</div>