<nav>
    <div class="nav nav-tabs dash-tab" id="distnav-tab" role="tablist">
        <button class="nav-link nav_item" id="appdownload" data-bs-toggle="tab" data-bs-target="#nav-appdownload" type="button" role="tab" aria-controls="nav-appdownload" aria-selected="true" routerLink="/create-account" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}>Distributor</button>
        <button class="nav-link nav_item" id="user" data-bs-toggle="tab" data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user" aria-selected="false" routerLink="/create-account/ac-user" [routerLinkActive]="['active']">POS Merchant ID</button>
        <button class="nav-link nav_item" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="false" routerLink="/create-account/pgMerchants" [routerLinkActive]="['active']">PG Merchant ID</button>
    </div>
</nav>