<div class="content-wrapper main-section-container">
    <div class="card card-box">
        <div class="card-header">
            <div class="row">
                <div class="col-3 sidemenu-form">
                    <div class="input-group userNum">
                        <div style="float: left;" class="pr-2">USER ID :</div>
                        <input type="text" class="form-control" placeholder="Sponser ID" aria-describedby="basic-addon2"
                            value="232111">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i
                                    class="fas fa-arrow-right fa-fw"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="row">
                <div class="col-md-3 col-sm" style="margin-top: 6px;">
                    Name : Aravind Kishore
                </div>

                <div class="col-md-3 col-sm month_class">
                    <div class="p-2 flex-grow-1 cus_month">
                        <div class="mytexttitle">
                            <select class="form-select current-status-dropdown" aria-label="Default select example"
                                [(ngModel)]="selected" (change)='onSelectMonth($event)'>
                                <option *ngFor="let j of expensesData" [value]="j.month">{{j.month}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm month_class">
                    <div class="p-2 bd-highlight">
                        <div class="report" data-tooltip="top" role="tooltip" aria-label="report download"
                            (click)="reportDownload()">
                            Download : <i class="bi bi-download" style="font-size: 1rem;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm">
                    <input class="form-control search-hero" type="text" name="search" [(ngModel)]="searchText"
                        autocomplete="off" placeholder="Search...">
                </div>
            </div>

        </div>

    </div>
    <section class="content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="table-container">
                        <div class="table_data">
                            <div class="table-responsive">
                                <table class="table table_cust" id="tap_to_pay_table">
                                    <thead style="border-bottom: 1px solid #dee2e6;">
                                        <tr>
                                            <th class="cur_Header">
                                                DATE
                                            </th>
                                            <th class="cur_Header">
                                                TIME
                                            </th>
                                            <th class="cur_Header">
                                                MERCHANT ID
                                            </th>
                                            <th class="cur_Header">
                                                POS TYPE
                                            </th>
                                            <th class="cur_Header">
                                                POS ID
                                            </th>
                                            <th class="cur_Header">
                                                ITEM
                                            </th>
                                            <th class="cur_Header">
                                                EMAIL
                                            </th>
                                            <th class="cur_Header">
                                                VAT NO
                                            </th>
                                            <th class="cur_Header">
                                                SEQENCE NO
                                            </th>
                                            <th class="cur_Header">
                                                RECEIPT NO
                                            </th>
                                            <th class="cur_Header">
                                                VAT
                                            </th>
                                            <th class="cur_Header">
                                                PAID
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody class="align-baseline">
                                        <tr *ngFor="let data of finalData | filter:searchText">
                                            <td>{{data.date}}</td>
                                            <td>{{data.time}}</td>
                                            <td>{{data.merchant_id}}</td>
                                            <td>{{data.posType}}</td>
                                            <td>{{data.pos_id}}</td>
                                            <td>{{data.item}}</td>
                                            <td data-tooltip="top" role="tooltip" attr.aria-label="{{data.email_id}}"><i
                                                    class="bi-envelope-open"></i></td>
                                            <td>{{data.vatNo}}</td>
                                            <td>{{data.sequence_no}}</td>
                                            <td>{{data.receipt_no}}</td>
                                            <td>{{data.vat}}</td>
                                            <td>{{data.total_credit | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>