<div class="content-wrapper main-section-container">

    <app-gatway-menus></app-gatway-menus>
    <section class="content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="chart-container" style="border: 0px;">
                        <div class="mytextdiv">
                            <div class="mytexttitle">
                                MARKET TODAY
                            </div>
                            <div class="divider"></div>
                            <button class="btn btn-sm uploadImg float-right" data-toggle="modal"
                                data-target="#uploadImage">Upload Image</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">

                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        <div class="card card-block w-50 shadow-none rounded-0 cardImg">
                            <div class="card-header">
                                Image Upload
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <form [formGroup]="uploadForm" (ngSubmit)="submitImage()">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <label for="firstImg">
                                                <p class="font-weight-normal imgtext1">Upload From Computer</p>
                                            </label>
                                            <div class="imgtext2">
                                                <p class="font-weight-light">(Max Image size is 2Mb)</p>
                                            </div>
                                            <input type="file" accept="image/*" id="firstImg" name=""
                                                style="display: none;" (change)="onFileSelected($event)">
                                        </div>
                                        <div class="col-6">
                                            <div *ngIf="imageUrl && imageUrl !== ''">
                                                <img src={{imageUrl}} [alt]="uploadForm.value.name"
                                                    class="img-thumbnail">
                                                <div class="imgtext3">
                                                    <p>{{fileSelected}}</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-sm btn-secondary" type="submit" data-dismiss="modal">Save
                                        Image</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content mt-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="chart-container">
                        <div id="chart-container">
                            <img src="assets/images/market-today.png" class="img-fluid" style="width: 100% !important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="chart-container" style="border: 0px;margin-top: -7px;">
                        <div class="mytextdiv">
                            <div class="mytexttitle">
                                <div style="float: left;">

									<select class="form-select current-status-dropdown"
										aria-label="Default select example" [(ngModel)]="selected"
										(change)='onSelectItem($event)'>
										<option *ngFor="let cat of marketDataStore" [value]="cat.item">{{cat.item}}
										</option>
									</select>

								</div>
                            </div>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content mt-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="chart-container">
                        <div id="chart-container">
                            <app-bar-charts [primaryXAxis]="prXAxis" [primaryYAxis]="prYAxis" [data]="graphData"
                                [tooltip]="tooltip" [name]="nameOntoolTip"></app-bar-charts>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="chart-container" style="border: 0px;margin-top: -7px;">
                        <div class="mytextdiv">
                            <div class="mytexttitle">CURRENT STATUS</div>
                            <!-- <div style="float: left;">
                                <select class="form-select current-status-dropdown" aria-label="Default select example"
                                    (change)="filteItemsOnYears($event.target.value)">
                                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                                </select>
                            </div> -->
                            <div class="divider hr_tag"></div>
                            <div class="select_drpDown">
                                <ng-multiselect-dropdown [placeholder]="'select Items'" [data]="multiSelectorData"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelect)="onItemDeSelect($event)" [required]='requiredField'>
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div style="margin-top: -8px;">
        <section class="my-3">
            <div class="chart-content-holder">
                <div class="row" [ngStyle]="bgStyle" *ngIf="selectedItems.length > 0">
                    <div class="col-12-sm chartSt">
                        <ejs-chart [chartArea]='chartArea' [width]='width' align='center' id='chart-container'
                            [height]='height' [primaryXAxis]='primaryXAxis1' [primaryYAxis]='primaryYAxis1'
                            [title]='title' [tooltip]='tooltip' (load)='load($event)'
                            (pointRender)='pointRender($event)' [palettes]='palette'>
                            <e-series-collection>
                                <e-series [dataSource]='selectedItems' type='Bar' xName='x' yName='y' [marker]="marker"
                                    [columnWidth]="columnWidth"> </e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </div>
                </div>
                <div class="row mb-2 float-center" style="height: 100px; border: 1px solid rgb(216, 214, 214);"
                    *ngIf="selectedItems.length === 0">
                    <div class="col-12-sm" style="text-align: center;margin-top: 36px;">
                        <p>No Data Available</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


</div>