.current-status-dropdown {
  color: grey;
  border: none;
  width:auto;
  background-color: transparent;
  border: 1px solid lightgrey;
  font-size: 14px;
}
.current-status-dropdown:focus{-webkit-box-shadow: none;}

.current-status-dropdown option {
    color:#7e7f80;
  }
.current-status-dropdown option:checked {
    color:#ffffff;
    background-color: grey;
}

.multiselect-dropdown .dropdown-btn {
    display: none !important;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    border: 1px solid lightgray !important;
    margin-right: 4px !important;
    background: lightgray !important;
    padding: 0 5px !important;
    color: #fff !important;
    border-radius: 2px !important;
    float: left !important;
    //max-width: 80% !important;
    width: 177px !important;
    height: 22px !important;
    font-size: 13px !important;
}


.multiselect-item-checkbox input[type=checkbox] + div:before{
  box-sizing: content-box;
    content: "";
    color: lightgray;
    position: absolute;
    top: 53%;
    left: 0;
    width: 9px;
    height: 9px;
    margin-top: -9px;
    border: 2px solid lightgray;
    text-align: center;
    transition: .4s;
}


.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    border: 1px solid #666768 !important;
    margin-right: 4px !important;
    background: #5e6061 !important;
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    max-width: 100px;
}

.select_drpDown{
    width:25%;
    float:right;
    font-size: 14px;
}
.hr_tag{
    width:1px
}


.dropdown-btn{
  border: 1px solid lightgray !important
}

.chartSt{
    display: block;
    margin-top:30px;
    margin-bottom: 20px;
}
  
 
  .ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder{
      transform: none;
  }

.uploadImg{
  display: inline;
  background-color: #72ac47;
  color: white;
  width: 100px;
  position: relative;
  top:0px;
}

.cardImg{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

};
.imgtext1{
  color:purple;
  cursor: pointer;
};
.imgtext2{
  color: rgb(209, 209, 206);
  margin-top: -10px;
};
.imgtext3{
  color:purple;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
};

.mytextdiv{
  width: 99%;
}

// @media (min-width:1400px){
//   .mytextdiv{
//     width: 92%;
//   }
// }