<app-software-menu></app-software-menu>

    <div class="main-container">
        <div class="faq-title text-center pb-3">
            <h2>Buy Now & Pay Later</h2>
        </div>
        <div class="bnplDec">
            <p>
                Provide products that enable your customers to manage their cash flow over a period of time, for
                purchases
                big or small. By offering Buy Now, Pay Later (BNPL) services, you can increase conversion rates, improve
                customer satisfaction and grow basket sizes.
                <br />
                <br />
                Buy Now, Pay Later products typically rely on third-party data from credit bureaus to assess the
                likelihood
                of a customer's ability to pay back. This data can become archaic very quickly, as reports are not
                updated
                daily. Using Lean, you can assess your customer’s financial risk with real-time data. Additionally, Lean
                can
                provide you with the technology to set up payment plans with direct bank-to-bank transfers removing
                costly
                one-off card fees.
            </p>
        </div>
        <div class="featureGroup">
            <div class="faq-title text-center pb-3">
                <h2>Features</h2>
            </div>
            <div class="bnplDec" style="width: 500px;">
                <p>
                    Some of the features and advantages that we provide for those of you who store data in this Data
                    Warehouse.
                </p>
            </div>
            <div style="margin: 0px 40px 0px 40px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mainCard" style="margin: auto;">
                            <div class="card__body" style="margin-left: 20px;">
                                <h4 class="card__title">Transactions</h4>
                                <p class="card__description">Buy Now Pay Later fintechs can leverage real-time access to
                                    a customer’s transaction history to assess their risk and loan-worthiness, thus
                                    significantly increasing their underwriting capacity and preemptively managing
                                    default rates.</p>
                            </div>
                            <a href="#" class="card__link" style="margin-left: 20px;">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mainCard" style="margin: auto;">
                            <div class="card__body" style="margin-left: 20px;">
                                <h4 class="card__title">Customer-to-fintech payments</h4>
                                <p class="card__description">Buy Now Pay Later fintechs can offer customers the option
                                    to make payments directly from their bank account, rather than doing so using a card
                                    processor as an intermediary.</p>
                            </div>
                            <a href="#" class="card__link" style="margin-left: 20px;">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mainCard" style="margin: auto; margin-top: 20px;">
                            <div class="card__body" style="margin-left: 20px;">
                                <h4 class="card__title">Fintech-Merchant Payments</h4>
                                <p class="card__description">Buy Now Pay Later fintechs can automate disbursements to
                                    merchants. Currently, most BNPL fintechs manually disburse funds to merchants.
                                    However, this process can be automated and instantaneous using Lean’s Payments API.
                                </p>
                            </div>
                            <a href="#" class="card__link" style="margin-left: 20px;">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mainCard" style="margin: auto; margin-top: 20px;">
                            <div class="card__body" style="margin-left: 20px;">
                                <h4 class="card__title">Recurring Payments</h4>
                                <p class="card__description">By using automated recurring payments, a BNPL fintech can
                                    easily schedule payments from the customer’s bank account. This will benefit the
                                    fintech by increasing the percentage of payments made on time, while simultaneously
                                    helping customers avoid late fees.</p>
                            </div>
                            <a href="#" class="card__link" style="margin-left: 20px;">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="whyBnplGroup" style="margin: 50px;">
            <div class="faq-title text-center pb-3">
                <h4>Why is the Adoption of Buy Now Pay Later Model Suitable for your Customers?</h4>
                <br>
                <span>
                    Once you adopt the buy now pay later software for your brand, you will find the following features
                    for your products:
                </span>
                <br>
            </div>
            <div class="whyBnplContent">
                <h5>
                    Convenience
                </h5>
                <p>
                    The best benefit that the BNPL model offers is convenience to use for your customers. For example,
                    when your customers start using LazyPay, your customers are just required to download the Buy Now
                    Pay Later app on their smartphones, sign in to the account, and identify their spending limit for
                    initiating the first transaction.
                </p>
                <h5>
                    No Upfront Payments
                </h5>
                <p>
                    When it comes to seeking a loan, customers need to show their assets or job security to be eligible
                    for the application. Therefore, it might appear time-consuming, and there are numerous kinds of
                    upfront fees.
                    <br />
                    On the contrary, the BNPL software enables customers to make a purchase and make payments later at
                    their convenience or the specified instalment duration with the easy EMI options.
                </p>
                <h5>
                    Late Fees or Interest

                </h5>
                <p>
                    Using the BNPL option, the payment has to be made during the specified duration. Generally, as more
                    BNPL apps are emerging, the interest fees and durations are getting relaxed for customers.
                    <br />
                    As a result, customers find it easy to use the Buy Now Pay Later eWallet apps. The interest fees are
                    nominal as compared to other credit-payment methods.
                </p>
            </div>
        </div>

        <div class="bnplGeneration">
            <div class="bnplImg">
                <img src="assets/images/landingpage/bnplgen.jpg" alt="bnplgeneration" class="center bnplPic" />
            </div>
        </div>
    </div>


  <!-- FAQ -->

  <app-faq></app-faq>

<!--footer -->
<app-app-footer></app-app-footer>
