<div id="swato">
    <div class="row">
        <div class="col-md-4">
            <h1>Dual-band GPS + inbuilt Barometer
                3D precise positioning.</h1>
            <p>L2H supports optimized 3D positioning with horizontal & vertical dual positioning system to minimize
                position deviation and effectively acquire location even between floors. Now you can quickly and easily
                locate your staff for better dispatch and workforce optimization.</p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<div id="swatoo">
    <div class="secondiv">
        <h2>Multiple data acquisition methods</h2>
        <div class="flex-container">
            <div class="flex-item">
                <h3>Professional 2D scan engines</h3>
                <p>1D/2D barcodes can be recognized even if they are scratched, folded or stained. Optional scan engines
                    (Zebra/Honeywell).</p>
            </div>
            <div class="flex-item">
                <h3>UHF-RFID</h3>
                <p>·Labels identification
                    up to 50cm.</p>
            </div>
            <div class="flex-item">
                <h3>NFC</h3>
                <p>·Membership card
                    management and other
                    use for multiple scenes.</p>
            </div>
        </div>
    </div>

</div>

<div id="swatooo">
    <div class="thirdDiv">
        <h1 style="line-height: 1.5;font-size: 3rem;">More than professional. Four versions are available, more industry-tailored.</h1>
    </div>
</div>

<div id="swatoooo">
    <div class="secondiv">
        <h2>Human-centered design with flexible application</h2>
        <h3>With a dual-button design, it is ergonomic, customizable and one-hand operable. Various accessories</h3>
        <p>1D/2D barcodes can be recognized even if they are scratched, folded or stained. Optional scan engines
            (Zebra/Honeywell).</p>
        <h4>Stable and smooth operation</h4>
        <p>SUNMI L2s uses SUNMI OS 3.0, an operating system deeply customized based on Android 9.0. With better
            compatibility, it ensures smoother operation.</p>
    </div>
</div>