<app-hardware-menu></app-hardware-menu>


    <!-- Watermark and title (Hardware Products) -->
    <section style="padding-bottom: 0px; padding-top: 30px;">
        <div class="row">
            <div class="col-md-1">
                <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
            </div>
            <div class="col-md-5" style="position: relative; right: 55px;">
                <div class="payrowaboutUs">
                    <h6 class="abtUs">PayRow Products
                        <hr class="abtusHr" style="left: 122px;" />
                    </h6>
                    <h3 class="cr_product">Retail Machine</h3>
                </div>
            </div>
        </div>
    </section>

    <!--Main Content-->

    <section style="margin: 50px;">
        <div class="cash_receive">
            <img src="assets/images/landingpage/retailmachine.png" alt="retail machines" class="center" style="width: 35%;" />
        </div>
        <div class="machine_text">
            <h4 style="color: #5C5B59; font-weight: 700; margin-top: 30px;">Free Point of Sale and Inventory Management
                Software</h4>
        </div>
        <div class="bnplDec">
            <p style="color: #5C5B59;">
                Turn your smartphone or tablet into a powerful POS. Manage sales, inventory and employees with ease;
                engage customers and increase your revenue. Whether you have single or multiple stores, our tools help
                run your business.
            </p>
            <a class="btn btn-google" href="#" title="Google Play" style="display: inline-block;">Google Play</a>
            <div class="flex social-btns" style="display: inline-block;">
                <a class="app-btn blu flex vert" href="http:apple.com">
                    <i class="fab fa-apple"></i>
                    <p style="margin: 0;
                    padding: 3px;">Available on the <br /> <span class="big-txt">App Store</span></p>
                </a>
            </div>

        </div>

    </section>

    <section style="margin: 50px;">
        <div class="machine_text cr_title">
            <h3 style="font-weight: 700; color: gray;">Tools to help your business succeed</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mobile2Div">
                    <img src="assets/images/landingpage/ESOS-System.png" alt="mobile 2" class="center mobiles"
                        style="width: 100%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="retailcontent2">
                    <h3 class="retailContent_title">Point of sale</h3>
                    <h5 style="color: gray;">Transform your smartphone or tablet into an easy to use point-of-sale</h5>
                    <ul>
                        <li>Issue printed or electronic receipts</li>
                        <li>Apply discounts and issue refunds</li>
                        <li>Keep recording sales even when offline</li>
                        <li>Connect a receipt printer, barcode scanner, and cash drawer</li>
                        <li>Connect PayRow Customer Display app</li>
                      </ul>
                </div>
            </div>
        </div>
    </section>

    <section style="margin: 50px;">
        <div class="row">
            <div class="col-md-6">
                <div class="retailcontent2">
                    <h3 class="retailContent_title">Inventory management</h3>
                    <h5 style="color: gray;">Never run out of stock</h5>
                    <ul>
                        <li>Track stock levels in real time</li>
                        <li>Receive automatic low stock alerts</li>
                        <li>Send orders to suppliers and track stock receipts</li>
                        <li>Transfer stock between your stores</li>
                        <li>Print barcode labels</li>
                      </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mobile2Div">
                    <img src="assets/images/landingpage/inventory.png" alt="mobile 2" class="center mobiles"
                        style="width: 70%;" />
                </div>
            </div>
        </div>
    </section>

<!--footer -->
<app-app-footer></app-app-footer>