.round-chart-value .content-1{
    font-size: 8pt;
    color: #868686;
    margin-left:5px
}

.round-chart-value .content-2{
    font-size: 8pt;
    color: #868686;
}

.round-chart-value .content-2 .value {
    font-size: 9pt;
}
.q_tgt{
    padding: 0px;
    height: 22px;
    // width: 42px;
    margin: 0px;
    font-size: 13px;
    text-align: end;
    color: #5d5c5c;
    border: none;
    background: none;
}

.tgt {
    padding: 0px;
    font-size: 13px;
    text-align: center;
    color: #5d5c5c;
    height: 23px;
    width: 100%;
}

.chart_dash{
    margin-right: 15px;
    margin-top: -30px;

}
.chart_img{
    width: 30px;
    margin-top: 6px;
}