 
<!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button"  routerLink="/finance" class="btn btn-db btn-gift cl-red">Profit & Loss</button>
        <button type="button" routerLink="/finance/actual"class="btn btn-db btn-gift cl-red">Actual Value</button>
        <button type="button" routerLink="/finance/new-proposition" class="btn btn-db btn-gift cl-red">Next Year Projection</button>
        <button type="button" routerLink="/finance/consolidated" class="btn btn-db btn-gift cl-red">Consolidated</button>
        <button type="button" routerLink="/finance/transaction-rate" class="btn btn-db btn-gift cl-red">Transaction Rate</button>
        <button type="button" routerLink="/finance/distributor" class="btn btn-db btn-gift cl-red">Distributor Payable</button>
        <button type="button" routerLink="/finance/wps" class="btn btn-db btn-gift cl-red">WPS</button>              
    </div>
</div> -->

<!-- <div class="col" routerLink="/finance"><button type="button" class="btn btn-block btn-db btn-gift cl-red"><span class="btn-text">Profit & Loss</span></button></div>
<div class="col" routerLink="/finance/actual"><button type="button" class="btn btn-block btn-db btn-gift cl-red"><span class="btn-text">Actual Value</span></button></div>
<div class="col" routerLink="/finance/new-proposition"><button type="button" class="btn btn-block btn-db btn-gift"><span class="btn-text">Next Year Projection</span></button></div>
<div class="col" routerLink="/finance/actual"><button type="button" class="btn btn-block btn-db btn-gift cl-red"><span class="btn-text">Consolidated</span></button></div>
<div class="col" routerLink="/finance/actual"><button type="button" class="btn btn-block btn-db btn-gift cl-red"><span class="btn-text">Transaction Rate</span></button></div>
<div class="col" routerLink="/finance/actual"><button type="button" class="btn btn-block btn-db btn-gift cl-red"><span class="btn-text">Distributor Payable</span></button></div>
<div class="col" routerLink="/finance/actual"><button type="button" class="btn btn-block btn-db btn-gift cl-red"><span class="btn-text">WPS</span></button></div> -->
 

<nav>
    <div class="nav nav-tabs dash-tab" id="nav-tab" role="tablist">
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-app" type="button" role="tab" aria-controls="nav-app" aria-selected="true"  routerLink="/finance"                  [routerLinkActive]="['active']">Profit & Loss</button>
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-sal" type="button" role="tab" aria-controls="nav-sal" aria-selected="false" routerLink="/finance/actual"           [routerLinkActive]="['active']">Actual Value</button>
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-use" type="button" role="tab" aria-controls="nav-use" aria-selected="false" routerLink="/finance/new-proposition"  [routerLinkActive]="['active']">Next Year Projection</button>
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-pos" type="button" role="tab" aria-controls="nav-pos" aria-selected="false" routerLink="/finance/consolidated"     [routerLinkActive]="['active']">Consolidated</button>
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-mcl" type="button" role="tab" aria-controls="nav-mcl" aria-selected="false" routerLink="/finance/transaction-rate" [routerLinkActive]="['active']">Transaction Rate</button>
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-dis" type="button" role="tab" aria-controls="nav-dis" aria-selected="false" routerLink="/finance/distributor"      [routerLinkActive]="['active']">Distributor Payable</button>
        <button class="nav-link nav_item" id="" data-bs-toggle="tab" data-bs-target="#nav-wps" type="button" role="tab" aria-controls="nav-wps" aria-selected="false" routerLink="/finance/wps"              [routerLinkActive]="['active']">WPS</button>
    </div> 
</nav>  


 