<app-app-header></app-app-header>
<!-- TESTIMONIALS -->
<div class="section-padding">
    <div class="container hardwareHead" style="">
        <div class="row owl-carousel client-testimonial-carousel">
            <div class="col-md-2">
                <a routerLink="/mobiles" [routerLinkActive]="['active']">
                    <img src="assets/images/landingpage/ppl2.png" class="commonImgStyle" alt="mobile" />
                    <h6 class="product_headings">Mobiles</h6>
                </a>

            </div>
            <div class="col-md-2">
                <a routerLink="/cashmachine" [routerLinkActive]="['active']">
                    <img src="assets/images/landingpage/ppl1.png" alt="mobile" class="commonImgStyle"
                        [routerLinkActive]="['active']" />
                    <h6 class="product_headings">Cash Received Machine</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a routerLink="/pos" [routerLinkActive]="['active']">
                    <img src="assets/images/landingpage/ppl3.png" alt="mobile" class="commonImgStyle"
                        [routerLinkActive]="['active']" />
                    <h6 class="product_headings">POS</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a routerLink="/printer" [routerLinkActive]="['active']">
                    <img src="assets/images/landingpage/ppl4.png" alt="mobile" class="commonImgStyle"
                        [routerLinkActive]="['active']" />
                    <h6 class="product_headings">Printer</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a routerLink="/retailmachine" [routerLinkActive]="['active']">
                    <img src="assets/images/landingpage/ppl5.png" class="commonImgStyle" alt="mobile"
                        [routerLinkActive]="['active']" />
                    <h6 class="product_headings">Retail Machine</h6>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- END OF TESTIMONIALS -->