<app-hardware-menu></app-hardware-menu>


    <!-- Watermark and title (Hardware Products) -->
    <section style="padding-bottom: 0px; padding-top: 30px;">
        <div class="row">
            <div class="col-md-1">
                <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
            </div>
            <div class="col-md-5" style="position: relative; right: 55px;">
                <div class="payrowaboutUs">
                    <h6 class="abtUs">PayRow Products
                        <hr class="abtusHr" style="left: 122px;" />
                    </h6>
                    <h3 class="cr_product">POS Machine</h3>
                </div>
            </div>
        </div>
    </section>

    <!--Main Content-->

    <section style="margin: 50px;">
        <div class="img_pos">
            <div class="machine_title">
                <h2 style="line-height: 2;">POS MACHINE</h2>
                <h6 style="line-height:2;">Professional all-powerful design to redefine industrial payment</h6>
            </div>
        </div>
        <div class="pos_machine_text">
            <div class="machine_text">
                <h4>Make payments with the palm of your hand</h4>
            </div>
            <div class="bnplDec">
                <p>
                    PayRow smart POS terminal supports all payment channels covering mobile payment methods such as NFC
                    Payment, Apple Pay, Samsung Pay, Alipay, WeChat Pay, and Quick Pass.
                </p>
            </div>
        </div>
    </section>

    <section style="margin: 50px;">
        <div class="row">
            <div class="col-md-6">
                <div class="mobile2Div">
                    <img src="assets/images/landingpage/pos_machine2.png" alt="pos machine bills" class="center mobiles"
                        style="width: 100%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="poscontent2">
                    <h3 class="mblContent_title">Comfortable design with you in mind every time</h3>
                    <p class="machineContent_title1">Dual-color enclosure design to improve the texture
                        Unique transaction physical buttons to improve work efficiency
                        Balance counterweight ratio support at the front and back of the device body</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="pos_auth">
            <div class="authTitle">
                <h4 style="padding-top: 30px;">Financial authentication and secure payment</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="authImg">
                        <img src="assets/images/landingpage/auth_img1.png" alt="img1" class="center" style="width: 22%;" />
                        <h4 class="center authSpan">PayWave</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="authImg">
                        <img src="assets/images/landingpage/auth_img2.png" alt="img1" class="center" style="width: 51%;" />
                        <h4 class="center authSpan">EMV Certification</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="authImg">
                        <img src="assets/images/landingpage/auth_img3.png" alt="img1" class="center" style="width: 22%;" />
                        <h4 class="center authSpan">PCI Certification</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="authImg">
                        <img src="assets/images/landingpage/auth_img4.png" alt="img1" class="center" style="width: 22%;" />
                        <h4 class="center authSpan">PayPass</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin: 50px;">
        <div class="pos_comm">
            <h3>
                Flexible communication and
                connection not required for waiting
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mobile2Div">
                    <img src="assets/images/landingpage/pos_machine3.png" alt="pos machine hand" class="center mobiles"
                        style="width: 100%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="pos_comm_speak">
                    <img src="assets/images/landingpage/sim-card.svg" alt="sim" class="center commIcn" />
                    <p class="commText">Dual SIM Dual Standby</p>
                </div>
                <div class="pos_comm_speak">
                    <img src="assets/images/landingpage/4gnet.png" alt="4G" class="center commIcn" style="width: 48px;"/>
                    <p class="commText">All 4G networks</p>
                </div>
                <div class="pos_comm_speak">
                    <img src="assets/images/landingpage/wifi.svg" alt="WiFi" class="center commIcn" />
                    <p class="commText">Dual-band WiFi
                    </p>
                </div>
                <div class="pos_comm_speak">
                    <img src="assets/images/landingpage/bluetooth.svg" alt="Bluetooth" class="center commIcn" />
                    <p class="commText">Low Power-consumption Bluetooth</p>
                </div>
            </div>
        </div>
    </section>

<!--footer -->
<app-app-footer></app-app-footer>
