@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

h1 {
  text-align: center;
  margin: 1.5em;
}

img {
  width: 70%;
//   border-radius: 50%;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}

.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 20s infinite alternate linear;
}

.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 170px;
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  // border-radius: 10px;
//   box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
// border: 1px solid lightgray;
}

@media only screen and (max-width: 768px) {
  .items {
    animation: carouselAnim 20s infinite alternate linear;
  }
  
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (2 * 300px)));
    }
  }
}

.entry p {
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
}

.entry span{
    text-align: center;
    padding-bottom: 1rem;
}

.name {
  font-weight: bold;
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5 * 300px)));
  }
}

.container .faders {
  width: 100%;
  position: absolute;
  height: 100%;
}

.faders .right,
.faders .left {
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 15%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}


 
 /*==================================================
 * Effect 5
 * ===============================================*/

 .effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect5:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}