<div class="container">
    <div class="faders">
      <div class="left" style="left: -15px;"></div>
      <div class="right"></div>
    </div>
  
    <div class="items">
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus1.svg" alt="Google" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus2.svg" alt="Smiling person" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus3.svg" alt="Smiling person" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus4.svg" alt="Smiling person" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus5.svg" alt="Smiling person" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus6.svg" alt="Smiling person" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/youcloud.png" alt="Smiling person" />
      </div>
      <div class="entry effect5">
        <img src="assets/images/landingpage/partners/cus5.svg" alt="Smiling person" />
      </div>
    </div>
  </div>