<app-software-menu></app-software-menu>

<div class="main-container connect connect1">
  <div class="inside-container" style="margin: 0 auto;">
    <div class="row">
      <div class="col-md-6" style="margin: 0 auto; display: block;">
        <div class="headingKyc">
          <h3 style="margin-bottom: 50px;">E-KYC</h3>
          <h4 style="line-height: 1.7;">Customer Identification and Verification</h4>
          <h5 style="line-height: 1.7;">Quick. Credible. Comprehensive</h5>
          <h6 style="line-height: 1.7;">Differentiate the good from the bad. Filter out fraudulent customers before
            they impact your revenues.
          </h6>
        </div>
      </div>
      <div class="col-md-6 subhead">
        <img src="assets/images/landingpage/idverification.svg" alt="" class="img-fluid"
          style="width: 60%;margin: 0 auto; display: block;" />
      </div>
    </div>
  </div>
</div>

<section style="padding-bottom: 125px; padding-top: 125px;">

  <div class="row" style="position: relative; bottom: 85px;">

    <div class="col-md-6">
      <img src="assets/images/landingpage/Banner_Image.svg" alt="" class="img-fluid"
        style="width: 70%;margin: 0 auto; display: block;" />
    </div>
    <div class="col-md-6">
      <h3 class="kycTitle">eKYC</h3>
      <div class="content1">
        <p style="line-height: 2;">PayRow’s next-generation eKYC platform ensures a seamless onboarding
          user-experience for your customers
          through advanced document and facial recognition, location verification, liveliness detection, and the
          next-gen fraud analytics engine. We have our own customer onboarding application to collect the data.
          Additionally, PayRow’s OCR extracts all relevant attributes like name, address, etc., from the KYC document
          within a few seconds. It entails robust facial recognition and image match module, which cross matches
          facial data with the live captured image or the submitted image to determine any fraudulent activity. It
          also consists of REST API for easy integration and cloud-based processing.</p>
      </div>
    </div>
  </div>
</section>

<div class="main-container connect connect1" style="height: 770px;">
  <div class="inside-container" style="margin: 0 auto;">
    <div class="Riskdiv">
      <i class="fas fa-quote-left quatationMark"></i>
      <h3 class="riskAss">How our Onboarding Risk Assessment solution can help your organisation.</h3>
    </div>
  </div>

  <div class="container">
    <main class="grid">
      <article>
        <div class="text">
          <img src="assets/images/landingpage/Positive-Brand.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Improved Customer Onboarding</h6>
          <p class="kyc-p">Real-time insights on new customer requests help you identify and target only suspicious customers while
            onboarding trustworthy ones instantly.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/coverage-across.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Positive Brand Image</h6>
          <p class="kyc-p">Safeguarding customers from insurance fraud reduces customer churn, transforms their experience, and helps
            build a positive brand image.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/minimal-fraud.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Dynamically Procrastinate</h6>
          <p class="kyc-p">Completely synergize resource taxing relationships via premier niche markets.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/business-excellence.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Reduced Time to Action</h6>
          <p class="kyc-p">Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/on-the-go.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Lower Dropout Rate</h6>
          <p class="kyc-p">Seamless onboarding and enhanced customer experience ensure a lower dropout rate.</p>
        </div>
      </article>
      <article>
        <div class="text">
          <img src="assets/images/landingpage/economic-models.svg" alt="brand" class="center kyc-onboarding"/>
          <h6 class="kyc-h6">Reduced Time to Action</h6>
          <p class="kyc-p">Secure and paperless KYC reduces the time needed for verification of customers without
            compromising data security.</p>
        </div>
      </article>
    </main>
  </div>
</div>

<section style="padding-top: 125px;">
  <div class="row" style="position: relative; bottom: 85px;">
    <div class="col-md-6">

      <div class="content1" style="margin: auto;">
        <h3 class="kycTitle" style="margin-bottom: 20px;">Verify your customer's identity in seconds!</h3>
        <h5 style="margin-bottom: 20px;">Try PayRow’s 90 days* free e-KYC solution now!</h5>
        <p style="line-height: 2;">PayRow’ s 90 days* free eKYC solution helps companies see real identity – the
          humans behind the screens – with leading AI and expertise in identity space. Your customers can prove their
          identities, wherever they are, with just an ID and their face. Grow your business with ease without worrying
          about identity thefts and without bearing any cost for 90 days*
          *Conditions Apply</p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/landingpage/faceid.png" alt="" class="img-fluid"
        style="width: 70%;margin: 0 auto; display: block;" />
    </div>
  </div>
</section>

<div class="container">
  <div class="solutionTitle">
    <h4>Check out Onboarding Risk Assessment solution features</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution1.svg" alt="solution1" style="width: 50px;margin-bottom: 10px;">
        <h5>Insurance Policy Risk Prediction</h5>
        <p>Predicts risks associated with the insurer for a policy using various insurer attributes.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution2.svg" alt="solution2" style="width: 50px;margin-bottom: 10px;">
        <h5>Alternate Credit Scoring</h5>
        <p>Predicts credibility and creditworthiness of a customer using various aggregated customer attributes
          available from alternate data sources.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution3.svg" alt="solution3" style="width: 50px;margin-bottom: 10px;">
        <h5>Address Verification Model</h5>
        <p>Validates the address of a user, provided at the point of sale against the registered or derived address
          from the wide variety of telecom data.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <img src="assets/images/landingpage/solution4.svg" alt="solution4" style="width: 50px;margin-bottom: 10px;">
        <h5>Income Prediction Model</h5>
        <p>Validates the address of a user, provided at the point of sale against the registered or derived address
          from the wide variety of telecom data.</p>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<app-faq></app-faq>

<!--footer -->
<app-app-footer></app-app-footer>