<app-software-menu></app-software-menu>

<div class="bg_container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkoutimg" style="margin: 0;">
                <img class="mainImg" src="assets/images/landingpage/sposmain.png" alt="paymentImg" style="width: 40%;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkoutTitle" style="width: 500px; margin: auto; margin-top: 80px;">
                <h3 style="margin-bottom: 30px;">Soft POS:</h3>
                <h3>No hardware, no problem!</h3>
                <p>Turn any Android-based device into a payment terminal.
                    Your phone can be a point of sale device</p>
            </div>
        </div>
    </div>
</div>

<!-- Download app -->

<div class="wps_container">
    <div style="margin: 30px; text-align: center;">
        <h4>Soft POS: Download the app and start selling today</h4>
        <span>Mobile phone point of sale system</span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="all">
                <div class="cards">
                    <div class="card shadow-1 downloadCard">
                        <h5>Card Payments</h5>
                        <p style="font-size: 13px;">Visa (Visa Electron, VPay, Visa), Mastercard, Maestro, Diners
                            Club International,
                            UnionPay and JCB.</p>
                    </div>
                    <div class="card shadow-1 downloadCard">
                        <h5>Digital Payments</h5>
                        <p style="font-size: 13px;">Apple Pay, Google Pay, mBills, VALÚ. Coming soon: Leanpay,
                            WeChat, Alipay.

                            And we are constantly adding top global and local digital payment providers.</p>
                    </div>
                    <div class="card shadow-1 downloadCard">
                        <h5>Cryptocurrency Payments</h5>
                        <p style="font-size: 13px;">40+ cryptocurrencies, including Bitcoin Cash (BCH), Bitcoin
                            (BTC), Ether (ETH), Litecoin
                            (LTC), Tezos (XTZ), GoCrypto token (GoC), Viberate token (VIB), and so many others!</p>
                    </div>
                </div>
            </div>
            <!-- END .all -->
        </div>
        <div class="col-md-6">
            <div class="wpl_logo_sec">
                <img src="assets/images/landingpage/sposmain2.png" alt="wpl logo" class="center sposImg" style="width: 43%;"/>
            </div>

        </div>

    </div>
</div>

<!-- Soft POS puts small businesses first -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 30px; margin-top: 15px;">Soft POS puts small businesses first</h4>
        <p>This massive database ensures timely payment of agreed-upon wages. The WPS in the UAE covers all
            We understand that your business field can change within a day, and that many SMEs combine several
            completely different business activities at once. For this reason, the Soft POS multi-payment solution
            can be used on any smart device. Here are the perks:
        </p>
        <ol>
            <li>transform your mobile phone into a contactless POS terminal without additional hardware,
            </li>
            <li>use a full set of payment features in just one app. Download in a minute and take payments in
                seconds (cards, digital, cryptocurrency),
            </li>
            <li>view all payments in one place regardless of the payment method.
            </li>
        </ol>
    </div>
</div>

<!-- Say no to heavy costs – and heavy equipment. -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 30px; margin-top: 15px;">Say no to heavy costs – and heavy equipment. </h4>
        <p>In these fast-changing times, buying or renting POS hardware can be challenging for SMEs.

            POS hardware may be too heavy or impractical for effective operation in serving, at stalls, for taxis
            and so on. Soft POS, will be able to benefit from the following advantages:
        </p>
        <ol>
            <li>use your own smart device instead of buying or leasing or leasing expensive POS hardware,
            </li>
            <li>no monthly hardware POS rental costs,
            </li>
            <li>reduce your equipment maintenance expenses,
            </li>
            <li>minimize the time it takes to start using the solution with a fully digitalized onboarding,
            </li>
            <li>quick and easy product updates.
            </li>
        </ol>
    </div>
</div>

<!-- Stop leasing expensive hardware -->

<div class="bg_container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkoutTitle" style="width: 500px; margin: auto; margin-top: 10%;">
                <h3 style="margin-bottom: 30px;">Stop leasing expensive hardware</h3>
                <p>Say no to monthly hardware POS rental costs! Reduce your equipment maintenance expenses by using
                    your phone or tablet. Any Android-based device can become a mobile POS.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkoutimg" style="margin: 0;">
                <img class="mainImg" src="assets/images/landingpage/payrow_ss1.png" alt="paymentImg" style="width: 35%;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="checkoutimg" style="margin: 0;">
                <img class="mainImg" src="assets/images/landingpage/payrow_ss2.png" alt="paymentImg" style="width: 35%;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkoutTitle" style="width: 500px; margin: auto;     margin-top: 10%;
            ">
                <h3 style="margin-bottom: 30px;">Say goodbye to heavy equipment</h3>
                <p>Dragging along heavy POS terminals is a thing of the past. Your phone or tablet can essentially
                    do everything.</p>
            </div>
        </div>
    </div>
</div>

<!-- Mobile POS is as flexible as your business -->

<div class="mobilepos">
    <div style="margin: 30px; text-align: center;">
        <h4>Soft POS: Download the app and start selling today</h4>
        <span>Mobile phone point of sale system</span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="business">
                <img src="assets/images/landingpage/time1.svg" alt="business time" style="margin: 10px;" />
                <p>Fast Download</p>
                <p>Download in a minute and take contactless payments in seconds (cards, digital, cryptocurrencies).
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="business">
                <img src="assets/images/landingpage/business.svg" alt="business card" style="margin: 10px;" />
                <p>For everyone</p>
                <p>For small businesses, big merchants and everything in-between. Have your point of sale terminal
                    as flexible as your business.</p>
            </div>
        </div>
    </div>
</div>

<!-- Why buy new hardware when you can just use your phone? -->

<div class="row" style="margin: 20px;">
    <div class="col-md-6">
        <div class="checkoutTitle" style="width: 500px; margin: auto; margin-top: 10%;">
            <h3 style="margin-bottom: 30px;">Why buy new hardware when you can just use your phone?</h3>
            <p>Download the Soft POS in a minute and take payments in seconds</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkoutimg" style="margin: 0;">
            <img class="mainImg" src="assets/images/landingpage/hardware.svg" alt="paymentImg" style="width: 50%;" />
        </div>
    </div>
</div>

<!-- FAQ -->

<app-faq></app-faq>

<!--footer -->
<app-app-footer></app-app-footer>