<app-hardware-menu></app-hardware-menu>


    <!-- Hardware Products -->

    <!-- Watermark and title (Hardware Products) -->
    <section style="padding-bottom: 0px; padding-top: 30px;">
        <div class="row">
            <div class="col-md-1">
                <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
            </div>
            <div class="col-md-5" style="position: relative; right: 55px;">
                <div class="payrowaboutUs">
                    <h6 class="abtUs">PayRow Products
                        <hr class="abtusHr" style="left: 122px;" />
                    </h6>
                    <h3 class="cr_product">Cash Received Machine</h3>
                </div>
            </div>
        </div>
    </section>

    <!--Main Content-->

    <section style="margin: 50px;">
        <div class="cash_receive">
            <img src="assets/images/landingpage/cr_machine.png" alt="cash received machines" class="center" style="width: 40%;" />
        </div>
        <div class="machine_text">
            <h4>Self-Service, Simplified</h4>
        </div>
        <div class="bnplDec">
            <p>
                PayRow brings automation to life, transforming operational efficiency and elevating daily customer
                experiences. We streamline complete and connected solutions with unparalleled development,
                manufacturing, and support.
            </p>
        </div>
    </section>

    <section style="margin: 50px;">
        <div class="machine_text cr_title">
            <h3 style="font-weight: 700; color: gray;">Market Solutions</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mobile2Div">
                    <img src="assets/images/landingpage/machine_specific.png" alt="mobile 2" class="center mobiles"
                        style="width: 70%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="machinecontent2">
                    <h3 class="mblContent_title">Retail</h3>
                    <p class="machineContent_title1">Retailers want to invigorate sales and entice customers back into
                        physical stores with self-service options that streamline transactions. PayRow offers a
                        portfolio of solutions for returns, payments, endless aisle, rentals, virtual support services,
                        and more. </p>
                </div>
            </div>
        </div>
    </section>

    <div class="img_container">
        <div class="small_container">
            <div class="payout_layout center" style="width: 60%;">
                <h3>Specifications</h3>
                <ul>
                    <li>Support Unionpay, magcard, ID card (Master and Visa can be customized)</li>
                    <li>Support Hospital registration and payment</li>
                    <li>Support Paper money and coin recognized, support paper and coin money exchanger</li>
                    <li>Support card recharge Functions</li>
                    <li>Support Invoice, bill and so on printing</li>
                    <li>Support hospital information system inserted</li>
                    <li>Support voice prompts, easy operation, installed with multi-media service window</li>
                </ul>
            </div>
        </div>
    </div>

<!--footer -->
<app-app-footer></app-app-footer>
