<app-hardware-menu></app-hardware-menu>

<!-- Watermark and title (Hardware Products) -->
<section style="padding-bottom: 0px; padding-top: 30px;">
  <div class="row">
    <div class="col-md-1">
      <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
    </div>
    <div class="col-md-3" style="position: relative; right: 55px;">
      <div class="payrowaboutUs">
        <h6 class="abtUs">PayRow Products
          <hr class="abtusHr" style="left: 122px;" />
        </h6>
        <h3 class="mobile_product">DT50 5G</h3>
      </div>
    </div>
    <div class="col-md-8 button_col">
      <div class="">
        <button type="button" class="btn btn-success" style="margin-right: 20px;">DT50 5G</button>
        <a routerLink="/submiMobile" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
            class="btn btn-success btn1" style="margin-right: 20px;">SUNMI MOBILE</button></a>
        <a routerLink="/catmobile" class="printer_nav" [routerLinkActive]="['active']"><button type="button"
            class="btn btn-success btn2" style="margin-right: 20px;">CAT MOBILE</button></a>
      </div>
    </div>
  </div>
</section>

<!--Main Content-->

<section style="margin: 50px;">
  <div class="row">
    <div class="col-md-6">
      <div class="center mobile_titles">
        <h2 class="mbl_title1">Anything is Possible With</h2>
        <h3 class="mbl_title2">DT 50 5G</h3>
        <h4 class="mbl_title3">Enterprise Smart Terminal</h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mobile_img">
        <img src="assets/images/landingpage/mobile1.png" alt="mobile" class="center mobiles" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="videoBtn"><span>Watch Video</span></button>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <div class="spanDiv">
        <p class="spanDiv1">Low Latency, High Sensitivity</p>
        <p class="spanDiv2">IP67 Sealing</p>
      </div>
    </div>
  </div>
</section>

<section style="margin: 50px;">
  <div class="row">
    <div class="col-md-6">
      <div class="mobile2Div">
        <img src="assets/images/landingpage/payrow_dt50.jpg" alt="mobile 2" class="center mobiles" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mblcontent2">
        <h3 class="mblContent_title">5.7" bezel-less display</h3>
        <p class="mblContent_title1">Large 2.5D bezel-less display, full HD resolution, visible even under strong
          outdoor sunlight
          High-sensitivity touch screen for uninterrupted operation with gloves, wet hands, or a touch pen in any
          weather</p>
      </div>
    </div>
  </div>
</section>

<div class="img_container">
  <div class="small_container">
    <div class="row">
      <div class="col-md-6">
        <div class="mbl_battery center">
          <h2 class="mblContent_title" style="color: #F6F9FF">Large battery capacity</h2>
          <p class="mblContent_title1" style="color: #fff">It comes with a standard 4300mAh high-capacity removable
            battery to provide
            endurant operation time for typical 8-12 hours. Using QC Fast Charging, the device can be fully charged
            and ready to use again within just 3 hours.
            4300mAh - Lasts 8 to 12hrs</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mobile2Div">
          <img src="assets/images/landingpage/mobile3.png" alt="mobile 2" class="center mobiles1" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="img_container2">
  <!-- <div class="row"> -->
  <div class="ip6">
    <h2 style="line-height: 2;">IP67 Sealing Corning glass casing
      to provide you with the strongest
      protection.</h2>
    <h6>Dustproof, 1m water proof, and 1.5m drop test passed.</h6>
  </div>
  <!-- </div> -->
</div>

<div class="scan_container">
  <div class="mblscan">
    <h2>Reading barcode in a blink</h2>
    <h6 style="line-height: 2;">Featuring an advanced 2D imager to meet different requirement. It can read different
      barcode labels from
      standard to very high density, paper to on-screen, normal to damaged label, and from common barcode to DPM,
      Digimarc and Dotcode in a blink. Our ScanWedge tool and SDK provides seamless integration with your application
      to make our device even more usable.
    </h6>
  </div>
</div>

<div class="nfc_container">
  <div class="row">
    <div class="col-md-6">
      <div class="nfc_content center">
        <h2 style="margin-bottom: 30px;">NFC module</h2>
        <h6 style="line-height: 2;">Support NFC module for more card swiping applications</h6>
      </div>
    </div>
    <div class="col-md-6">
      <div class="nfc_img">
        <img src="assets/images/landingpage/nfc_module.png" alt="nfc image" class="center nfc_pic" />
      </div>
    </div>
  </div>
</div>

<app-specifications></app-specifications>

<!--footer -->
<app-app-footer></app-app-footer>