<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <!-- <h3 class="title">Dana ROBINSON</h3> -->
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="team-content">
                                        <span class="post">Our team has been working at frispes for almost 2 months
                                            because our office still closed. During working at frispes, we feel a new
                                            experience, we can feel working with a beautiful, modern, and comfortable
                                            space. And cozy cafe with high-speed internet in there. Thank you for
                                            frispes and team.</span>
                                    </div>
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg" style="display: inline-block;">
                                        <span
                                            style="display: inline-block;position: relative;top: 23px;text-align: left;">Joee</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>