

<div id='chartcontainer' #chart *ngIf="dataSource.length===0">
    <ejs-chart style='display:block;' [chartArea]='chartArea' [legendSettings]='legend' [width]='width' align='right'  [primaryXAxis]='primaryXAxis'
    [primaryYAxis]='primaryYAxis' [tooltip]='tooltip' [palettes]='palette'>
    <e-series-collection>
        <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y' [name]=name width='2' [marker]="marker"  [cornerRadius]="radius"></e-series>                                   
    </e-series-collection>
    </ejs-chart>
</div>

<div id='chartcontainer' #chart *ngIf="dataSource.length>0">
    <ejs-chart style='display:block;' [chartArea]='chartArea' [legendSettings]='legend' [width]='width' align='right'  [primaryXAxis]='primaryXAxis'
    [primaryYAxis]='primaryYAxis' [tooltip]='tooltip' [palettes]='palette'>
    <e-series-collection>
        <e-series [dataSource]='data1' type='StackingColumn' xName='x' yName='y' name='Govt' width='2'></e-series>
        <e-series [dataSource]='data2' type='StackingColumn' xName='x' yName='y' name='EnterPrise' width='2' ></e-series>
        <e-series [dataSource]='data3' type='StackingColumn' xName='x' yName='y' name='Smb' width='2'></e-series>  
        <e-series [dataSource]='data4' type='StackingColumn' xName='x' yName='y' name='x-border' width='2'[cornerRadius]='radius'></e-series>                                 
    </e-series-collection>
    </ejs-chart>
</div>

