<!-- FIRST -->

<!-- <section class="newSection">
    <div class="row">
        <div class="col-md-4">
            <div class="container new">
                <ul class="card cardNew">
                    <h5>Unmatched service</h5>
                    <p>Support corporate clients and financial investors with their growth strategy and international
                        development.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container new">
                <ul class="card cardNew">
                    <h5>Specific</h5>
                    <p>ConsultUs’ core expertise lies in the ability to support our clients in understanding, analysing
                        and executing commercial and investment strategies in specific markets.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container new">
                <ul class="card cardNew">
                    <h5>Experiencee</h5>
                    <p>Experience in working with and assisting a wide range of clients from international corporations
                        to small/medium-sized businesses, from large corporate debt providers to mid-market private
                        equity investors.</p>
                </ul>
            </div>
        </div>
    </div>
</section> -->

<!-- SECOND -->
<section>
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="card card1">
                    <h5> Unmatched service </h5>
                    <span class="arowMark" style=""><i class="rightArrow">&#8594;</i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card card2">
                    <h5> Specific </h5>
                    <span class="arowMark" style=""><i class="rightArrow">&#8594;</i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card card3">
                    <h5> Experiences </h5>
                    <span class="arowMark" style=""><i class="rightArrow">&#8594;</i></span>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- THIRD -->

<!-- <section style="margin: 70px;margin-top: 0px;">
    <div class="row">
        <div class="col-md-4">
            <div class="container" style="height: 177px;">
                <div class="content">
                    <h5>Unmatched service</h5>
                    <p>Support corporate clients and financial investors with their growth strategy and international
                        development.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="content">
                    <h5>Specific</h5>
                    <p>ConsultUs’ core expertise lies in the ability to support our clients in understanding, analysing
                        and executing commercial and investment strategies in specific markets.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="content">
                    <h5>Experiences</h5>
                    <p>Experience in working with and assisting a wide range of clients from international corporations
                        to small/medium-sized businesses, from large corporate debt providers to mid-market private
                        equity investors.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

