<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>How To Make A Website </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="main">

    <div class="information">
      <div class="overlay"></div>
      <img src="https://i.postimg.cc/FzLJ8hkP/mobile.png" class="mobile">
      <div id="circle">
        <div class="feature one">
          <img src="https://i.postimg.cc/B6tF5TSf/camera.png">
          <div>
            <h1>Camera</h1>
            <p>12MP, Wide Angle Lens</p>
          </div>
        </div>
        <div class="feature two">
          <img src="https://i.postimg.cc/RF8HgWh6/processor.png">
          <div>
            <h1>Processor</h1>
            <p>Snapdragon Octa-core 11nm</p>
          </div>
        </div>
        <div class="feature three">
          <img src="https://i.postimg.cc/mrmMFXGS/display.png">
          <div>
            <h1>Display</h1>
            <p>6.5 Mini-Drop Fullscreen</p>
          </div>
        </div>
        <div class="feature four">
          <img src="https://i.postimg.cc/0yd795WF/battery.png">
          <div>
            <h1>Battery Life</h1>
            <p>5000Ah, 720Hrs Standby</p>
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <img src="https://i.postimg.cc/L8MzdgTj/arrow.png" id="upBtn">
      <h3>Features</h3>
      <img src="https://i.postimg.cc/L8MzdgTj/arrow.png" id="downBtn">
    </div>

  </div>

</body>

</html>