.tab-pane {
    padding: 20px !important;
    border: 1px solid #ccc;
    margin-top: 10px;
}
label {
    font-weight: 400 !important;
    font-size: 15px;
    float: left;
}
.radio-align {
    margin-top: 10px;
}
.radio_css {
    position: relative;
    top: 42px;
    margin-left: 15px;
}
.edit_btn {
    width: 100px;
    border: none;
    background: #72ac47;
    margin-left: 10px !important;
}
.radio-inline {
    margin-right: 53px;
}
.remarkbtn {
    margin-top: -5px;
}
.fieldipt {
    margin-bottom: 12px;
}

.action_btn {
    width: 100px;
    border: none;
    background: #72ac47;
    margin-left: 10px !important;
    color: white;
}
// .action_btn:focus {
//     background: #72ac47;
// }
#comment {
    height: 40px;
    margin-top: 12px;
    margin-left: 26px;
}
#btn_submit {
    margin-bottom: 10px;
}

// input{
//     width: auto;
//     float: left;
// }
