<app-software-menu></app-software-menu>

<div class="bg_container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkoutimg">
                <img class="mainImg" src="assets/images/landingpage/paymentmain.svg" alt="paymentImg" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkoutTitle">
                <h3 style="margin-bottom: 30px;">Payment Gateway</h3>
                <p>Integrate with payment gateway to make secure online payments using credit or debit cards,
                    prevent
                    late payment and reduce geographical barriers across the nations and regions.</p>
            </div>
        </div>
    </div>
</div>
<div class="onlinepay">
    <div class="subContent1">
        <div class="faq-title text-center pb-3">
            <h2>Online Payment Gateway </h2>
        </div>
    </div>
    <div class="paymentProcess">
        <img src="assets/images/landingpage/process.svg" alt="process" class="chartPrgrss center" />
    </div>
</div>

<div class="whyPayment">
    <div class="faq-title text-center pb-3">
        <h2>Why Payment Gateway Integration?</h2>
    </div>
    <div class="bnplDec" style="width: 800px; margin: auto;">
        <p style="text-align: center;">
            Are you a travel agency, or tour operator – looking for a hassle-free connection to multiple Flights and
            Accommodation suppliers ? You are at the right place, with Paxport’s single source API integration
            within payrow, you can connect to a vast array of Flights and Accommodation suppliers.
        </p>
    </div>
    <div class="layer1">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/landingpage/take-payment.svg" class="whyImg">
                <p class="whyContent">Take payments 24/7</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/offer.svg" class="whyImg" style="width: 40px;">
                <p class="whyContent">Offers flexible support for travel business</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/time.svg" class="whyImg" style="width: 40px;">
                <p class="whyContent">Reduce waiting time for cheques, bank transfer and cash payment</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/geography.svg" class="whyImg" style="width: 40px;">
                <p class="whyContent">Reduce geographical barriers across the nations and regions</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/safe-secure.svg" class="whyImg" style="width: 30px;">
                <p class="whyContent">Safe and secure transactions</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/cash.svg" class="whyImg" style="width: 50px;">
                <p class="whyContent">Multiple currency processing</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/combined.svg" class="whyImg" style="width: 40px;">
                <p class="whyContent">Refunds on ease</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/landingpage/combined2.svg" class="whyImg" style="width: 40px;">
                <p class="whyContent">Avail online payment receipts instantly</p>
            </div>
        </div>
    </div>

    <div class="payout-container">
        <div class="row">
            <div class="col-md-6">
                <div class="payout_layout center" style="width: 80%;">
                    <h1>Payouts</h1>
                    <ul>
                        <li>Easy integration</li>
                        <li>Seamless workflow with your own branding</li>
                        <li>Near-instantaneous</li>
                        <li>Easy Payout Setup</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payoutPic">
                    <img src="assets/images/landingpage/payout.svg" alt="payout" class="center" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="faq-title text-center pb-3">
        <h2>PayRow payment Method</h2>
    </div>
    <app-paymentcard></app-paymentcard>
</div>



<!--footer -->
<app-app-footer></app-app-footer>