<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image" src="assets/images/landingpage/sunmi_memory.png">
                        </div>
                        <div class="contentBx">
                            <h2>Memory</h2>
                            <div class="size">
                                4GB RAM+64GB ROM
                                6GB RAM+128GB ROM (optional)
                            </div>
                            <!-- <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div> -->
                            <!-- <a href="#">Buy Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img class="image"
                                src="https://www.c-store.cz/fotky38463/fotos/_vyrp11_1910895terraultra-g-260-green-2.png">
                        </div>
                        <div class="contentBx">
                            <h2>Nike Shoes</h2>
                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>