.scan_container {
    background-image: url("../../../../../assets/images/landingpage/p11.jpg");
    height: 675px;
    margin-top: 10px;
    background-repeat: round;
  }

  .mblscan {
    text-align: left;
    width: 600px;
    float: left;
    margin-left: 70px;
    line-height: 2;
    color: white;
    margin-top: 20%;
  }