<div class="content-wrapper main-section-container">
  <app-finance-menus></app-finance-menus>

  <section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 pl-0">
          <div class="card">
            <div class="card-header">
              Customer Details
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  Customer Total Revenue : 54,80,283
                </div>
                <div class="col">
                  Number of Customer : 6,000
                </div>
                <div class="col">
                  Gross Profit : -13,12,767
                </div>
              </div>

            </div>

          </div>

          <div class="default-finance-accordion" id="accordion">

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseOne">
                    Revenue
                  </a>
                </h4>
              </div>

              <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">JAN</th>
                          <th scope="col">FEB</th>
                          <th scope="col">MAR</th>
                          <th scope="col">APR</th>
                          <th scope="col">MAY</th>
                          <th scope="col">JUNE</th>
                          <th scope="col">JULY</th>
                          <th scope="col">AUG</th>
                          <th scope="col">SEPT</th>
                          <th scope="col">OCT</th>
                          <th scope="col">NOV</th>
                          <th scope="col">DEC</th>
                          <th scope="col">Total Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Subscribers</th>
                          <td>7,200</td>
                          <td>7,560</td>
                          <td>7,938</td>
                          <td>8,335</td>
                          <td>8,753</td>
                          <td>9,191</td>
                          <td>9,650</td>
                          <td>10,134</td>
                          <td>10,642</td>
                          <td>11,174</td>
                          <td>11,174</td>
                          <td>12,320</td>
                          <td>1,14,631</td>
                        </tr>
                        <tr>
                          <th scope="row">Dom-Int User</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Revenue</th>
                          <td>12,30,000</td>
                          <td>61,500</td>
                          <td>64,575</td>
                          <td>67,855</td>
                          <td>71,340</td>
                          <td>74,825</td>
                          <td>78,515</td>
                          <td>82,615</td>
                          <td>86,715</td>
                          <td>91,020</td>
                          <td>95,530</td>
                          <td>1,00,245</td>
                          <td>21,04,735</td>
                        </tr>
                        <tr>
                          <th scope="row">Regular</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">MDR - Regualr</th>
                          <td>1,18,272</td>
                          <td>1,24,186</td>
                          <td>1,30,395</td>
                          <td>1,36,920</td>
                          <td>1,43,779</td>
                          <td>1,50,974</td>
                          <td>1,58,524</td>
                          <td>1,66,468</td>
                          <td>1,74,806</td>
                          <td>1,83,558</td>
                          <td>1,92,744</td>
                          <td>2,02,383</td>
                          <td>18,83,009</td>
                        </tr>
                        <tr>
                          <th scope="row">MDR - Gov</th>
                          <td>321</td>
                          <td>482</td>
                          <td>482</td>
                          <td>642</td>
                          <td>803</td>
                          <td>964</td>
                          <td>1,124</td>
                          <td>1,253</td>
                          <td>1,253</td>
                          <td>1,253</td>
                          <td>1,253</td>
                          <td>1,253</td>
                          <td>11,081</td>
                        </tr>
                        <tr>
                          <th scope="row">MDR - Hotel</th>
                          <td>7,334</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>14,669</td>
                          <td>1,68,691</td>
                        </tr>
                        <tr>
                          <th scope="row">Dom Bank</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Int Bank</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Total Revenue</th>
                          <td>13,55,928</td>
                          <td>2,00,836</td>
                          <td>2,10,120</td>
                          <td>2,20,086</td>
                          <td>2,30,591</td>
                          <td>2,41,432</td>
                          <td>2,52,832</td>
                          <td>2,65,004</td>
                          <td>2,77,442</td>
                          <td>2,90,500</td>
                          <td>3,04,195</td>
                          <td>3,18,550</td>
                          <td>41,67,516</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseTwo">
                    Software / Technical Cost
                  </a>
                </h4>
              </div>

              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">JAN</th>
                          <th scope="col">FEB</th>
                          <th scope="col">MAR</th>
                          <th scope="col">APR</th>
                          <th scope="col">MAY</th>
                          <th scope="col">JUNE</th>
                          <th scope="col">JULY</th>
                          <th scope="col">AUG</th>
                          <th scope="col">SEPT</th>
                          <th scope="col">OCT</th>
                          <th scope="col">NOV</th>
                          <th scope="col">DEC</th>
                          <th scope="col">Total Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">App Prog - Android</th>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>5,500</td>
                          <td>66,000</td>
                        </tr>
                        <tr>
                          <th scope="row">App Prog - IOS</th>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>6,200</td>
                          <td>74,400</td>
                        </tr>
                        <tr>
                          <th scope="row">Full Stack Developer</th>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>90,000</td>
                        </tr>
                        <tr>
                          <th scope="row">KYC Developer</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Business Analyst</th>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>1,20,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Data Specialist</th>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>7,500</td>
                          <td>90,000</td>
                        </tr>
                        <tr>
                          <th scope="row">UI & UX Designer/Tester</th>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>5,000</td>
                          <td>60,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Data Centre Infrastructure </th>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>3,00,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Switch Developer</th>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>15,000</td>
                          <td>1,80,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Visa Acquiring License</th>
                          <td>9,25,000</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>9,25,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Switch Enhancement</th>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>20,000</td>
                          <td>2,40,000</td>
                        </tr>
                        <tr>
                          <th scope="row">VAT Report Charges</th>
                          <td>7,200</td>
                          <td>7,560</td>
                          <td>7,938</td>
                          <td>8,335</td>
                          <td>8,753</td>
                          <td>9,191</td>
                          <td>9,650</td>
                          <td>10,134</td>
                          <td>10,642</td>
                          <td>11,174</td>
                          <td>11,734</td>
                          <td>12,320</td>
                          <td>2,40,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Switch Onetime Charge</th>
                          <td>1,85,000</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>1,85,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Cyber Source OT Charge</th>
                          <td>1,85,000</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>1,85,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Switch Refiller Cost</th>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>37,000</td>
                          <td>1,85,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Total Software/Tech Cost</th>
                          <td>10,65,900</td>
                          <td>1,41,260</td>
                          <td>1,41,638</td>
                          <td>1,42,035</td>
                          <td>1,42,453</td>
                          <td>1,42,891</td>
                          <td>1,43,350</td>
                          <td>1,43,834</td>
                          <td>1,44,342</td>
                          <td>1,44,874</td>
                          <td>1,45,434</td>
                          <td>1,46,020</td>
                          <td>31,48,031</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseThree">
                    Sales & Marketing Cost
                  </a>
                </h4>
              </div>

              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">JAN</th>
                          <th scope="col">FEB</th>
                          <th scope="col">MAR</th>
                          <th scope="col">APR</th>
                          <th scope="col">MAY</th>
                          <th scope="col">JUNE</th>
                          <th scope="col">JULY</th>
                          <th scope="col">AUG</th>
                          <th scope="col">SEPT</th>
                          <th scope="col">OCT</th>
                          <th scope="col">NOV</th>
                          <th scope="col">DEC</th>
                          <th scope="col">Total Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Regional Sales Head Cost</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Sales Executives Cost</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Distributor Acq Cost</th>
                          <td>36,000</td>
                          <td>37,800</td>
                          <td>39,690</td>
                          <td>41,676</td>
                          <td>43,764</td>
                          <td>45,954</td>
                          <td>48,252</td>
                          <td>50,670</td>
                          <td>53,208</td>
                          <td>55,872</td>
                          <td>58,668</td>
                          <td>61,602</td>
                          <td>5,73,156</td>
                        </tr>
                        <tr>
                          <th scope="row">Marketing Exp</th>
                          <td>67,796</td>
                          <td>10,042</td>
                          <td>10,506</td>
                          <td>11,004</td>
                          <td>11,530</td>
                          <td>12,072</td>
                          <td>12,642</td>
                          <td>13,250</td>
                          <td>13,872</td>
                          <td>14,525</td>
                          <td>15,210</td>
                          <td>15,927</td>
                          <td>2,08,376</td>
                        </tr>
                        <tr>
                          <th scope="row">Sales & Marketing Cost</th>
                          <td>1,03,796</td>
                          <td>47,842</td>
                          <td>50,196</td>
                          <td>52,680</td>
                          <td>55,294</td>
                          <td>58,026</td>
                          <td>60,894</td>
                          <td>63,920</td>
                          <td>67,080</td>
                          <td>70,397</td>
                          <td>73,878</td>
                          <td>77,529</td>
                          <td>7,81,532</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseFour">
                    Management & Support Cost
                  </a>
                </h4>
              </div>

              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">JAN</th>
                          <th scope="col">FEB</th>
                          <th scope="col">MAR</th>
                          <th scope="col">APR</th>
                          <th scope="col">MAY</th>
                          <th scope="col">JUNE</th>
                          <th scope="col">JULY</th>
                          <th scope="col">AUG</th>
                          <th scope="col">SEPT</th>
                          <th scope="col">OCT</th>
                          <th scope="col">NOV</th>
                          <th scope="col">DEC</th>
                          <th scope="col">Total Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CEO</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Accountant</th>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>1,20,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Management & Support Cost</th>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>10,000</td>
                          <td>1,20,000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseFive">
                    Operation Cost
                  </a>
                </h4>
              </div>

              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">JAN</th>
                          <th scope="col">FEB</th>
                          <th scope="col">MAR</th>
                          <th scope="col">APR</th>
                          <th scope="col">MAY</th>
                          <th scope="col">JUNE</th>
                          <th scope="col">JULY</th>
                          <th scope="col">AUG</th>
                          <th scope="col">SEPT</th>
                          <th scope="col">OCT</th>
                          <th scope="col">NOV</th>
                          <th scope="col">DEC</th>
                          <th scope="col">Total Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">OTP Registration Cost</th>
                          <td>360</td>
                          <td>18</td>
                          <td>19</td>
                          <td>20</td>
                          <td>21</td>
                          <td>22</td>
                          <td>23</td>
                          <td>24</td>
                          <td>25</td>
                          <td>27</td>
                          <td>28</td>
                          <td>29</td>
                          <td>616</td>
                        </tr>
                        <tr>
                          <th scope="row">Messaging Platform Cost - Ducont</th>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>8,333</td>
                          <td>1,00,000</td>
                        </tr>
                        <tr>
                          <th scope="row">Ducont Managing Cost</th>
                          <td>2,03,389</td>
                          <td>30,125</td>
                          <td>31,518</td>
                          <td>33,013</td>
                          <td>34,589</td>
                          <td>36,215</td>
                          <td>37,925</td>
                          <td>39,751</td>
                          <td>41,616</td>
                          <td>43,575</td>
                          <td>45,629</td>
                          <td>47,782</td>
                          <td>6,25,127</td>
                        </tr>
                        <tr>
                          <th scope="row">Call Centre Cost</th>
                          <td>67,796</td>
                          <td>10,042</td>
                          <td>10,506</td>
                          <td>11,004</td>
                          <td>11,530</td>
                          <td>12,072</td>
                          <td>12,642</td>
                          <td>13,250</td>
                          <td>13,872</td>
                          <td>14,525</td>
                          <td>15,210</td>
                          <td>15,927</td>
                          <td>2,08,376</td>
                        </tr>
                        <tr>
                          <th scope="row">Operations Cost</th>
                          <td>2,79,879</td>
                          <td>48,519</td>
                          <td>50,376</td>
                          <td>52,370</td>
                          <td>54,472</td>
                          <td>56,642</td>
                          <td>58,923</td>
                          <td>61,358</td>
                          <td>63,847</td>
                          <td>66,460</td>
                          <td>69,200</td>
                          <td>72,073</td>
                          <td>9,42,119</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">

              <div class="accordion-header">
                <h4 class="card-title w-100">
                  <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseSix">
                    Admin & Other Costs
                  </a>
                </h4>
              </div>

              <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">JAN</th>
                          <th scope="col">FEB</th>
                          <th scope="col">MAR</th>
                          <th scope="col">APR</th>
                          <th scope="col">MAY</th>
                          <th scope="col">JUNE</th>
                          <th scope="col">JULY</th>
                          <th scope="col">AUG</th>
                          <th scope="col">SEPT</th>
                          <th scope="col">OCT</th>
                          <th scope="col">NOV</th>
                          <th scope="col">DEC</th>
                          <th scope="col">Total Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Rent incl DEWA</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">Mobile & Data</th>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>3,250</td>
                          <td>42,875</td>
                        </tr>
                        <tr>
                          <th scope="row">Vehicle Cost</th>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>8,000</td>
                          <td>1,06,400</td>
                        </tr>
                        <tr>
                          <th scope="row">Fuel Cost</th>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>3,000</td>
                          <td>39,600</td>
                        </tr>
                        <tr>
                          <th scope="row">Bonus</th>
                          <td>67,796</td>
                          <td>10,042</td>
                          <td>10,506</td>
                          <td>11,004</td>
                          <td>11,530</td>
                          <td>12,072</td>
                          <td>12,642</td>
                          <td>13,250</td>
                          <td>13,872</td>
                          <td>14,525</td>
                          <td>15,210</td>
                          <td>15,927</td>
                          <td>2,08,376</td>
                        </tr>
                        <tr>
                          <th scope="row">General Expenses</th>
                          <td>27,119</td>
                          <td>4,017</td>
                          <td>4,202</td>
                          <td>4,402</td>
                          <td>4,612</td>
                          <td>4,829</td>
                          <td>5,057</td>
                          <td>5,300</td>
                          <td>5,549</td>
                          <td>5,810</td>
                          <td>6,084</td>
                          <td>6,371</td>
                          <td>91,350</td>
                        </tr>
                        <tr>
                          <th scope="row">Admin & Other Costs</th>
                          <td>1,09,165</td>
                          <td>28,309</td>
                          <td>28,958</td>
                          <td>29,656</td>
                          <td>30,391</td>
                          <td>31,150</td>
                          <td>31,948</td>
                          <td>32,800</td>
                          <td>33,671</td>
                          <td>34,585</td>
                          <td>35,544</td>
                          <td>36,548</td>
                          <td>4,88,601</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card">

                <div class="accordion-header">
                  <h4 class="card-title w-100">
                    <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseSeven">
                      Total Costs
                    </a>
                  </h4>
                </div>

                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                  <div class="accordion-body">
                    <div class="row">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">JAN</th>
                            <th scope="col">FEB</th>
                            <th scope="col">MAR</th>
                            <th scope="col">APR</th>
                            <th scope="col">MAY</th>
                            <th scope="col">JUNE</th>
                            <th scope="col">JULY</th>
                            <th scope="col">AUG</th>
                            <th scope="col">SEPT</th>
                            <th scope="col">OCT</th>
                            <th scope="col">NOV</th>
                            <th scope="col">DEC</th>
                            <th scope="col">Total Year</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Revenue</th>
                            <td>13,55,928</td>
                            <td>2,00,836</td>
                            <td>2,10,120</td>
                            <td>2,20,086</td>
                            <td>2,30,591</td>
                            <td>2,41,432</td>
                            <td>2,52,832</td>
                            <td>2,65,004</td>
                            <td>2,77,442</td>
                            <td>2,90,500</td>
                            <td>3,04,195</td>
                            <td>3,18,550</td>
                            <td>41,67,516</td>
                          </tr>
                          <tr>
                            <th scope="row">Software / Technical</th>
                            <td>10,65,900</td>
                            <td>1,41,260</td>
                            <td>1,41,638</td>
                            <td>1,42,035</td>
                            <td>1,42,453</td>
                            <td>1,42,891</td>
                            <td>1,43,350</td>
                            <td>1,43,834</td>
                            <td>1,44,342</td>
                            <td>1,44,874</td>
                            <td>1,45,434</td>
                            <td>1,46,020</td>
                            <td>31,48,031</td>
                          </tr>
                          <tr>
                            <th scope="row">Sales & Marketing</th>
                            <td>1,03,796</td>
                            <td>47,842</td>
                            <td>50,196</td>
                            <td>52,680</td>
                            <td>55,294</td>
                            <td>58,026</td>
                            <td>60,894</td>
                            <td>63,920</td>
                            <td>67,080</td>
                            <td>70,397</td>
                            <td>73,878</td>
                            <td>77,529</td>
                            <td>7,81,532</td>
                          </tr>
                          <tr>
                            <th scope="row">Management & Support</th>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>10,000</td>
                            <td>1,20,000</td>
                          </tr>
                          <tr>
                            <th scope="row">Operations Cost</th>
                            <td>2,79,879</td>
                            <td>48,519</td>
                            <td>50,376</td>
                            <td>52,370</td>
                            <td>54,472</td>
                            <td>56,642</td>
                            <td>58,923</td>
                            <td>61,358</td>
                            <td>63,847</td>
                            <td>66,460</td>
                            <td>69,200</td>
                            <td>72,073</td>
                            <td>9,42,119</td>
                          </tr>
                          <tr>
                            <th scope="row">Admin & Other Costs</th>
                            <td>1,09,165</td>
                            <td>28,309</td>
                            <td>28,958</td>
                            <td>29,656</td>
                            <td>30,391</td>
                            <td>31,150</td>
                            <td>31,948</td>
                            <td>32,800</td>
                            <td>33,671</td>
                            <td>34,585</td>
                            <td>35,544</td>
                            <td>36,548</td>
                            <td>4,88,601</td>
                          </tr>
                          <tr>
                            <th scope="row">Total Costs</th>
                            <td>15,68,740</td>
                            <td>2,75,929</td>
                            <td>2,81,169</td>
                            <td>2,86,742</td>
                            <td>2,92,610</td>
                            <td>2,98,708</td>
                            <td>3,05,115</td>
                            <td>3,11,913</td>
                            <td>3,18,940</td>
                            <td>3,26,316</td>
                            <td>3,34,055</td>
                            <td>3,42,171</td>
                            <td>54,80,283</td>
                          </tr>
                          <tr>
                            <th scope="row">Profit / (Loss)</th>
                            <td>-2,12,813</td>
                            <td>-75,093</td>
                            <td>-71,048</td>
                            <td>-66,656</td>
                            <td>-62,019</td>
                            <td>-57,277</td>
                            <td>-52,283</td>
                            <td>-46,909</td>
                            <td>-41,497</td>
                            <td>-35,817</td>
                            <td>-29,860</td>
                            <td>-23,621</td>
                            <td>-13,12,767</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>