<app-software-menu></app-software-menu>


<div class="bg_container">
    <div class="row">
        <div class="col-md-6">
            <div class="checkoutimg">
                <img class="mainImg" src="assets/images/landingpage/vat.svg" alt="paymentImg" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkoutTitle">
                <h3 style="margin-bottom: 30px;">Value-Added Tax (VAT)</h3>
                <p>Businesses will be responsible for carefully documenting their business income, costs and associated
                    VAT charges.
                </p>
                <br />
                <p>Registered businesses and traders will charge VAT to all of their customers at the prevailing rate
                    and incur VAT on goods/services that they buy from suppliers. The difference between these sums is
                    reclaimed or paid to the government.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="vat1">
        <h4 style="margin-bottom: 30px;">Implications of VAT</h4>
        <p>VAT, as a general consumption tax, will apply to the majority of transactions in goods and services. A
            limited number of exemptions may be granted.
        </p>
        <br />
        <p>As a result, the cost of living is likely to increase slightly, but this will vary depending on an
            individual's lifestyle and spending behaviour. If an individual spends mainly on those things which are
            relieved from VAT, he is unlikely to see any significant increase.</p>
        <br />
        <p>The government will include rules that require businesses to be clear about how much VAT an individual is
            required to pay for each transaction. Based on this information, individuals can decide whether to buy
            something.</p>
    </div>
</div>

<!-- History of VAT -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 30px;">Implication of VAT on businesses</h4>
        <p>Businesses will be responsible for carefully documenting their business income, costs and associated VAT
            charges.
        </p>
        <br />
        <p>Registered businesses and traders will charge VAT to all of their customers at the prevailing rate and incur
            VAT on goods/services that they buy from suppliers. The difference between these sums is reclaimed or paid
            to the government.</p>
    </div>
</div>

<!-- VAT Tax Calculation -->

<div class="row">
    <div class="vat2">
        <h4 style="margin-bottom: 30px;">VAT-registered businesses generally:</h4>
        <p>VAT-registered businesses must report the amount of VAT they have charged and the amount of VAT they have
            paid to the government on a regular basis. It will be a formal submission and reporting will be done online.
        </p>
        <br />
        <ol>
            <li>Must charge VAT on taxable goods or services they supply
            </li>
            <li>May reclaim any VAT they have paid on business-related goods or services
            </li>
            <li>Keep a range of business records which will allow the government to check that they have got things
                right.
            </li>
        </ol>
        <br />
        <p>
            If they have charged more VAT than they have paid, they have to pay the difference to the government. If
            they have paid more VAT than they have charged, they can reclaim the difference.
        </p>
    </div>
</div>

<div class="center vat_img">
    <img src="assets/images/landingpage/vat_en.ashx" class="center vat_flow_img" alt="vat" />
</div>

<!-- Flow chart process -->

<div class="section-padding">
    <div class="container">
        <app-vat-flow></app-vat-flow>
    </div>
</div>


<!--footer -->
<app-app-footer></app-app-footer>