<app-hardware-menu></app-hardware-menu>

<div class="printersBtn">
    <button type="button" class="btn btn-success" style="margin-right: 10px;"><a href="#" routerLink="/printer"
            class="printer_nav">K329 PRINTER</a></button>
    <button type="button" class="btn btn-success btn1"><a routerLink="/printer/k419" class="printer_nav">K419
            PRINTER</a></button>
</div>

<!-- Watermark and title (Hardware Products) -->
<section style="padding-bottom: 0px; padding-top: 30px;">
    <div class="row">
        <div class="col-md-1">
            <img src="assets/images/landingpage/watermark.png" alt="watermark" style="width: 70px;" />
        </div>
        <div class="col-md-3" style="position: relative; right: 55px;">
            <div class="payrowaboutUs">
                <h6 class="abtUs">PayRow Products
                    <hr class="abtusHr" style="left: 122px;" />
                </h6>
                <h3 class="mobile_product">K329 Printer</h3>
            </div>
        </div>
    </div>
</section>

<!--Main Content-->

<section style="margin: 50px; margin-top: 0px;">
    <div class="row">
        <div class="col-md-6">
            <div class="center printer_titles">
                <h2 class="mbl_title1">Ruged Mobile Printer</h2>
                <h3 class="mbl_title2">K329</h3>
                <h4 class="printer_title3">K329 has a sturdy body and fast printing speed. Can print black and white
                    paper, label paper, etc. At the same time, it has high protection capabilities.</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="printer_img">
                <img src="assets/images/landingpage/printerk329_main.png" alt="printers" class="center printers" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="videoBtn"><span>Watch Video</span></button>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <div class="spanDiv">
                <p class="spanDiv1">Rugged Mobile Adjustable</p>
                <p class="spanDiv2">Printer</p>
            </div>
        </div>
    </div>
</section>

<section style="margin: 50px; margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <div class="mobile2Div">
                <img src="assets/images/landingpage/printerk329_1.png" alt="mobile 2" class="center mobiles"
                    style="width: 65%;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mblcontent2">
                <h3 style="line-height: 2;" class="mblContent_title">Very compact and lightweight, extremely
                    portable</h3>
                <p class="mblContent_title1">It supports different printing materials, including heat-sensitive
                    adhesive and heat-sensitive notes. K329 is ideal for applications including logistics,
                    in-retail, direct-store-delivery (DSD), and law-enforcement.</p>
            </div>
        </div>
    </div>
</section>

<!-- <section style="margin: 50px;">
    <div class="row" style="position: relative;bottom: 100px;">
        <div class="col-md-6">
            <div class="mblcontent2">
                <h3 class="mblContent_title">Very compact and lightweight, extremely portable</h3>
                <p class="mblContent_title1">It supports different printing materials, including heat-sensitive
                    adhesive and heat-sensitive notes. K329 is ideal for applications including logistics,
                    in-retail, direct-store-delivery (DSD), and law-enforcement.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mobile2Div">
                <img src="assets/images/landingpage/printerk329_1.png" alt="mobile 2" class="center mobiles" style="width: 65%;" />
            </div>
        </div>
    </div>
</section> -->

<section style="margin: 50px;">
    <div class="row">
        <div class="col-md-6">
            <div class="mblcontent2" style="top: 170px;">
                <h3 style="line-height: 2;" class="mblContent_title">HD Printing Resolution</h3>
                <p class="mblContent_title1">203dpi HD printing resolution that supports both two color printing and
                    watermark printing.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mobile2Div">
                <img src="assets/images/landingpage/printerk329_2.png" alt="mobile 2" class="center mobiles"
                    style="width: 75%;" />
            </div>
        </div>
    </div>
</section>

<section style="margin: 50px;">
    <div class="row" style="">
        <div class="col-md-6">
            <div class="mobile2Div" style="top: 0px;">
                <img src="assets/images/landingpage/printerk329_3.png" alt="mobile 2" class="center mobiles"
                    style="width: 80%;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mblcontent2" style="top: 170px;">
                <h3 class="mblContent_title">Adaptive high-speed printing</h3>
                <p class="mblContent_title1">K329 supports the fastest printing speed among the same class. it can
                    print up to 120mm per second. Thanks to its unique design, it can smartly adjust the maximum
                    printing speed according to the change of the voltage of the battery.</p>
            </div>
        </div>
    </div>
</section>

<section class="feature_section">
    <h3 class="futureTitle">Discover the key features</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="card card1">
                    <h5> Memory </h5>
                    <div class="icon colored"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card2">
                    <h5>Dimension</h5>
                    <div class="icon dimension"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card3">
                    <h5> Bluetooth </h5>
                    <div class="icon bluetooth"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card4">
                    <h5> Printer Mode </h5>
                    <div class="icon printer"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card5">
                    <h5> Weight </h5>
                    <div class="icon weight"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card6">
                    <h5> Max Roll Size </h5>
                    <div class="icon roll"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card7">
                    <h5> Power </h5>
                    <div class="icon power"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card card8">
                    <h5> Temperature </h5>
                    <div class="icon temperature"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer -->
<app-app-footer></app-app-footer>